<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmfarm.FarmerNavCnt">
	<select id="FarmerName" resultType="String">
		SELECT farmer_name
		FROM farmers
		WHERE farmers.farmer_serial_num=#{farmer}
	</select>
	<select id="cntTotalFund" resultType="Integer">
		SELECT
		SUM(fh.user_funding_amout)
		FROM funding_history fh
		INNER JOIN
		farm_and_product fp
		ON fh.product_serial_num = fp.product_serial_num
		WHERE
		fp.farmer_serial_num = #{farmer};
	</select>
	<select id="cntTotalCart" resultType="Integer">
		SELECT COUNT(*)
		FROM
		user_cart uc
		INNER JOIN farm_and_product fp
		ON uc.product_serial_num =
		fp.product_serial_num
		WHERE fp.farmer_serial_num = #{farmer};
	</select>
	<select id="cntTotalAuc" resultType="Integer">
		SELECT distinct COUNT(*)
		FROM auction_history ah
		INNER JOIN farm_and_product fp
		ON ah.product_serial_num = fp.product_serial_num
		WHERE fp.farmer_serial_num = #{farmer};
	</select>

</mapper>