<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmfarm.funding_list">

	<insert id="addMyCart" parameterType="User_cartVO">
		insert into
		user_cart(user_serial_num, product_serial_num)
		values(#{user_serial_num}, #{product_serial_num})
	</insert>

	<delete id="deletecart" parameterType="User_cartVO">
		delete from user_cart
		where
		user_serial_num = #{user_serial_num}
		and
		product_serial_num =
		#{product_serial_num}
	</delete>

	<select id="bookmarkCnt" parameterType="User_cartVO"
		resultType="int">
		select count(*)
		from user_cart
		where
		product_serial_num=#{product_serial_num}
	</select>

	<select id="myBookmarkShowList" parameterType="String"
		resultType="String">
		SELECT product_serial_num FROM user_cart WHERE
		user_serial_num=#{user_serial_num}
	</select>

	<select id="pointCheck" parameterType="String" resultType="int">
		select user_point
		from users
		where
		user_serial_num = #{user_serial_num}
	</select>


	<select id="fundingListSelectAll" resultType="map">
		SELECT
		farm_and_product.product_serial_num,
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중'
		GROUP BY
		farm_and_product.product_serial_num
	</select>


	<select id="fundingListSelectHot" resultType="map">
		SELECT
		farm_and_product.product_serial_num,
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) >= 0
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		SUM(funding_history.user_funding_pct) DESC LIMIT 6
	</select>

	<select id="fundingListSelectSupport" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		count(funding_history.funding_serial_num),
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT
		OUTER JOIN
		farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중'
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		count(funding_history.funding_serial_num) DESC
	</select>
	<select id="fundingListSelectByTypeSupport"
		parameterType="string" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		count(funding_history.funding_serial_num),
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT
		OUTER JOIN
		farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		farm_and_product.product_kind=#{type}
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		count(funding_history.funding_serial_num) DESC
	</select>

	<select id="fundingListSelectClosing" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		funding_reg_info.funding_deadline,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT
		OUTER JOIN farm_and_product
		ON
		funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) >= 0
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		funding_reg_info.funding_deadline
	</select>
	<select id="fundingListSelectByTypeClosing"
		parameterType="string" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		funding_reg_info.funding_deadline,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER JOIN
		farm_and_product
		ON
		funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		farm_and_product.product_kind=#{type} AND
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) >= 0
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		funding_reg_info.funding_deadline
	</select>
	
	<select id="fundingListSelectAmount" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		funding_reg_info.target_total_amount > 0
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		funding_reg_info.target_total_amount/10000
	</select>
	<select id="fundingListSelectByTypeAmount"
		parameterType="string" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		farm_and_product.product_kind=#{type} AND
		funding_reg_info.target_total_amount > 0
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		funding_reg_info.target_total_amount/10000
	</select>

	<select id="fundingListSelectRecent" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		funding_reg_info.target_total_amount > 0
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		farm_and_product.product_serial_num DESC
	</select>
	<select id="fundingListSelectByTypeRecent"
		parameterType="string" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		farm_and_product.product_kind=#{type} AND
		funding_reg_info.target_total_amount > 0
		GROUP BY
		farm_and_product.product_serial_num
		ORDER BY
		farm_and_product.product_serial_num DESC
	</select>

	<select id="fundingListSelectByType" parameterType="string"
		resultType="map">
		SELECT farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중' AND
		farm_and_product.product_kind=#{type}
		GROUP BY
		farm_and_product.product_serial_num;
	</select>

	<select id="fundingListSelectByTypeAll" resultType="map">
		SELECT
		farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num
		FROM funding_history
		RIGHT OUTER
		JOIN farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중'
		GROUP BY
		farm_and_product.product_serial_num;
	</select>

	<select id="fundingSearch" parameterType="string"
		resultType="map">

		SELECT farm_and_product.product_name,
		round(funding_reg_info.target_total_amount/10000) AS min_amount,
		farm_and_product.expected_planting_date,
		farm_and_product.farm_square_footage,
		SUM(funding_history.user_funding_pct) as funding_pct,
		DATEDIFF(funding_reg_info.funding_deadline, NOW()) as d_day,
		farm_and_product.funding_thumb_img_url,
		farm_and_product.product_serial_num,
		farm_and_product.farm_name,
		farm_and_product.product_serial_num
		FROM
		funding_history
		RIGHT OUTER JOIN
		farm_and_product
		ON funding_history.product_serial_num =
		farm_and_product.product_serial_num
		INNER JOIN funding_reg_info
		ON
		farm_and_product.product_serial_num =
		funding_reg_info.product_serial_num
		WHERE
		farm_and_product.product_status ='펀딩진행중'
		and
		farm_and_product.product_name
		LIKE CONCAT('%', #{input},
		'%') OR
		farm_and_product.farm_name LIKE
		CONCAT('%', #{input}, '%')
		GROUP
		BY
		farm_and_product.product_serial_num
	</select>

</mapper>