<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmfarm.product">
	<select id="fundingListSelectAll"
		resultType="Farm_and_productVO">
		select * from farm_and_product where product_status =
		'펀딩진행중'
	</select>

	<select id="auctionListSelectAll"
		resultType="Farm_and_productVO">
		select * from farm_and_product where product_status = '경매중'
	</select>

	<select id="auctionInfo" parameterType="String"
		resultType="Farm_and_productVO">
		select * from farm_and_product where product_serial_num =
		#{product_serial_num}
	</select>

	<select id="fundingInfo2" parameterType="String"
		resultType="Farm_and_productVO">
		select * from farm_and_product where product_serial_num =
		#{product_serial_num}
	</select>
	<select id="fundingInfo" parameterType="String" resultType="map">
		SELECT
		fp.product_name,
		fp.product_kind,
		fm.farmer_name,
		fp.farm_introduction,
		fp.farm_name,
		fp.farm_address,
		fp.farmer_phone,
		fp.farm_square_footage,
		fp.expected_planting_date,
		fp.expected_harvest_date,
		fp.funding_thumb_img_url,
		fp.funding_product_img_url,
		fri.target_total_amount,
		fh.user_funding_amount,
		CAST(ROUND(fri.target_total_amount * 0.0001) AS
		SIGNED) AS minimum_funding_amount
		FROM
		farm_and_product fp
		LEFT OUTER
		JOIN
		funding_reg_info fri ON (fp.product_serial_num =
		fri.product_serial_num)
		LEFT OUTER
		JOIN
		funding_history fh ON
		(fp.product_serial_num = fh.product_serial_num)
		LEFT OUTER JOIN
		farmers
		fm ON (fp.farmer_serial_num = fm.farmer_serial_num)
		
	</select>

<!-- 	<insert id="insertFunding" parameterType="String">
		UPDATE funding_history
		SET user_funding_amount = user_funding_amount = ?, user_funding_pct = #{pay}
		user_funding_pct + ? ;
		WHERE product_serial_num = 'PR2023120600001' 
		;
	</insert>
	
	<update id = "updateUserPoint" >
	
	</update> -->
</mapper>