<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmfarm.signUp">

	<insert id="userSignUp" parameterType="UsersVO">
		INSERT INTO users(user_email, user_pw, user_name) VALUES (#{user_email}, #{user_pw}, #{user_name})
	</insert>
	
	<insert id="farmerSignUp" parameterType="String"> //FarmersVO
		SELECT count(*) 
		FROM users 
		WHERE user_email = #{email}
	</insert>
</mapper>