<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
      PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.farmfarm.UsersVO">
	<insert id="userInsert" parameterType="UsersVO">
		INSERT INTO users(user_email, user_pw, user_name)
		VALUES(#{user_email},#{user_pw},#{user_name})	
	</insert>
	<select id="getAllUsers" resultType="UsersVO">
		select * from users
	</select>
	<select id="loginCheck" parameterType="UsersVO" resultType="String">
		select * from users
		where user_email = #{user_email} and user_pw = #{user_pw}
	</select>
	<select id="readMember" resultType="String">
		select * from users
		where user_email = #{user_email}
	</select>
	
	<update id="updatePw" >
		update users set user_pw = #{user_pw} where user_email = #{user_email}
	</update>

</mapper>


