<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>mypage/파머/나의프로젝트/경매하기</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pretendard%3A400%2C700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A400"/>
  <link rel="stylesheet" href="./styles/mypage--nPw.css"/>
</head>
<body>
<div class="mypage--ro7">
  <div class="header-xbF">
    <div class="auto-group-2w9f-uWV">
      <div class="group-144-QCM">
        <div class="auto-group-atth-M7b">
          <img class="image-22-srd" src="./assets/image-22-zpu.png"/>
          <p class="item--LER">팜팜</p>
        </div>
        <div class="auto-group-1dmf-eF7">
          <div class="item--a8m">펀딩</div>
          <div class="item--Hos">경매</div>
          <div class="item--pJ1">마이팜</div>
        </div>
        <img class="line-24-jvm" src="./assets/line-24-1jB.png"/>
      </div>
    </div>
    <div class="rectangle-101-sXB">
    </div>
  </div>
  <div class="auto-group-tp4h-17b">
    <div class="menu-8CD">
      <div class="auto-group-cgpo-sQh">
        <div class="userinfo-CSy">
          <div class="auto-group-c7zu-62Z">
            <div class="auto-group-eaeh-Qow">파머</div>
            <img class="vector-FJm" src="./assets/vector-LeH.png"/>
            <p class="item--b7j">빵파머님</p>
          </div>
        </div>
        <div class="logout-GzZ">
          <p class="item--C7X">로그아웃</p>
          <div class="log-out-Hem">
          </div>
        </div>
        <div class="my-activity-DHX">
          <p class="item--9gy">활동 관리</p>
          <div class="auto-group-wei9-FED">
            <div class="rectangle-159-miM">
            </div>
            <div class="myproject-71X">
              <img class="iconoir-web-window-energy-consumption-BXB" src="./assets/iconoir-web-window-energy-consumption-RLq.png"/>
              <p class="item--hEd">나의 프로젝트</p>
              <img class="group-MKB" src="./assets/group-1VX.png"/>
            </div>
          </div>
          <div class="depositlist-HyX">
            <img class="tabler-zoom-money-Rpq" src="./assets/tabler-zoom-money-x8m.png"/>
            <p class="item--MiV">입금 내역</p>
            <img class="group-U2R" src="./assets/group-U9s.png"/>
          </div>
          <div class="chat-DEu">
            <img class="humbleicons-chat-M6D" src="./assets/humbleicons-chat-oEu.png"/>
            <p class="item--fsb">쪽지</p>
            <img class="group-nhK" src="./assets/group-HL9.png"/>
          </div>
        </div>
        <div class="setting-umw">
          <div class="auto-group-tmpt-sCy">
            <p class="item--zYV">설정</p>
            <img class="mdi-password-check-outline-ufT" src="./assets/mdi-password-check-outline-g9K.png"/>
          </div>
          <p class="item--FDX">비밀번호 변경</p>
          <img class="group-Lkm" src="./assets/group-cpu.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-9jxm-Fcq">
      <div class="mydata-zqK">
        <div class="auto-group-kzy9-uxH">
          <p class="item--SxD">마이 데이터</p>
          <div class="item--AtD">내 프로젝트의 진행상황을 확인해보세요</div>
          <div class="accountpagebtn-rm3">
            <img class="group-135-8Tf" src="./assets/group-135-F3b.png"/>
            <div class="item--FYH">수익 계좌 관리</div>
          </div>
        </div>
        <div class="info2-kjw">
          <img class="auto-group-g8um-3j3" src="./assets/auto-group-g8um.png"/>
          <div class="item--aiy">찜하기</div>
          <div class="item-123--Jus">
            <span class="item-123--Jus-sub-0">123 </span>
            <span class="item-123--Jus-sub-1">건</span>
          </div>
        </div>
        <div class="info2-P49">
          <img class="auto-group-hrkt-hKj" src="./assets/auto-group-hrkt.png"/>
          <div class="item--RWd">펀딩 모금액</div>
          <div class="p-J4d">
            <span class="p-J4d-sub-0">115,320</span>
            <span class="p-J4d-sub-1"> </span>
            <span class="p-J4d-sub-2">P</span>
          </div>
        </div>
        <div class="info3-bC9">
          <img class="auto-group-jskm-th3" src="./assets/auto-group-jskm.png"/>
          <div class="item--22Z">경매 참여 인원</div>
          <div class="item-56--uc9">
            <span class="item-56--uc9-sub-0">56</span>
            <span class="item-56--uc9-sub-1"> </span>
            <span class="item-56--uc9-sub-2">명</span>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="footer-aN1">
    <div class="auto-group-bqdb-Vzm">
      <div class="inc-RNd">팜팜 INC.</div>
      <p class="item--mqo">팜팜</p>
      <img class="image-22-Tid" src="./assets/image-22-x5K.png"/>
      <div class="group-147-oXb">
        <div class="c-LnR">C</div>
        <div class="ellipse-30-Eso">
        </div>
      </div>
    </div>
    <div class="auto-group-gv5j-7gh">
      <div class="item--FH7">투자위험고지</div>
      <div class="about-farmfarm-Y1K">ABOUT FARMFARM</div>
    </div>
    <div class="auto-group-g4bw-U9s">
      <p class="item--zP7">
      투자는 원금 손실과 유동성 및 현금성에 대한 투자위험을 가지고 있습니다.
      <br/>
      투자 전에 투자위험고지를 꼭 확인해주세요. 
      <br/>
      
      <br/>
      (주)팜팜은 중개업(온라인소액투자중개 및 통신판매중개)를 영위하는 플랫폼 제공자로 자금을 모집하는 당사자가 아닙니다.
      <br/>
      따라서 투자손실의 위험을 보전하거나 리워드 제공을 보장해 드리지 않으며 이에 대한 법적인 책임을 지지 않습니다.
      </p>
      <div class="auto-group-9zlv-fXB">
        <p class="item--cSR">팜팜이란?</p>
        <p class="item--LNR">새소식</p>
        <p class="item--gBP">커뮤니티파트너</p>
      </div>
    </div>
    <div class="line-51-CfX">
    </div>
    <p class="c-1153-4-77-ds-sw-4-wND">
      <span class="c-1153-4-77-ds-sw-4-wND-sub-0">팜팜(주) </span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-1">| </span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-2">대표이사 김지원 </span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-3">|</span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-4"> 사업자등록번호 258-01-10034</span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-5"> |</span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-6"> 통신판매업신고번호 2023-서울서북C-1153 </span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-7">|</span>
      <span class="c-1153-4-77-ds-sw-4-wND-sub-8"> 서울특별시 마포구 월드컵북로4길 77 신한DS 금융 SW아카데미 4반</span>
    </p>
    <p class="infofarmfarmkr-1661-1003-6Jy">
      <span class="infofarmfarmkr-1661-1003-6Jy-sub-0">이메일 상담 info@farmfarm.kr </span>
      <span class="infofarmfarmkr-1661-1003-6Jy-sub-1">| </span>
      <span class="infofarmfarmkr-1661-1003-6Jy-sub-2">유선상담 1661-1003</span>
    </p>
  </div>
</div>
</body>