<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>mypage/파머/내 프로젝트 만들기/농장및펀딩정보</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pretendard%3A400%2C700%2C800"/>
  <link rel="stylesheet" href="./styles/regFarm.css"/>
</head>
<body>
<div class="mypage--o8H">
  <div class="header-Tid">
    <div class="auto-group-kpbx-oXb">
      <div class="group-144-uad">
        <div class="auto-group-rke5-dFj">
          <img class="image-22-Lvq" src="./assets/image-22-pQu.png"/>
          <p class="item--TEm">팜팜</p>
        </div>
        <div class="auto-group-wgzk-ZYh">
          <div class="item--VBT">펀딩</div>
          <div class="item--CLm">경매</div>
          <div class="item--WsF">마이팜</div>
        </div>
        <img class="line-24-eTf" src="./assets/line-24-DPB.png"/>
      </div>
      <div class="headerfarmer-acD">
        <div class="auto-group-xjw1-vg5">
          <img class="messageicon-eMB" src="./assets/messageicon.png"/>
          <p class="item--aVj">쪽지함</p>
          <div class="newmessageicon-V6u">
            <div class="rectangle-121-DHo">
            </div>
            <p class="n-jmw">N</p>
          </div>
        </div>
        <div class="group-127-cqj">나의 프로젝트 만들기</div>
      </div>
    </div>
    <div class="rectangle-101-V8q">
    </div>
  </div>
  <div class="auto-group-kzym-qTb">
    <div class="menu-Yso">
      <div class="auto-group-wllm-RAu">
        <div class="userinfo-YFX">
          <div class="auto-group-3aeh-TtH">
            <div class="auto-group-erch-BJV">파머</div>
            <img class="vector-CzH" src="./assets/vector-iDK.png"/>
            <p class="item--jzD">빵파머님</p>
          </div>
        </div>
        <div class="logout-DuP">
          <p class="item--xMB">로그아웃</p>
          <div class="log-out-dy7">
          </div>
        </div>
        <div class="my-activity-Z65">
          <p class="item--HGy">활동 관리</p>
          <div class="auto-group-ared-Pau">
            <div class="rectangle-159-it5">
            </div>
            <div class="myproject-T4y">
              <img class="iconoir-web-window-energy-consumption-xnR" src="./assets/iconoir-web-window-energy-consumption-bWu.png"/>
              <p class="item--UVs">나의 프로젝트</p>
              <img class="group-ySd" src="./assets/group-tB7.png"/>
            </div>
          </div>
          <div class="depositlist-iQD">
            <img class="tabler-zoom-money-qUq" src="./assets/tabler-zoom-money-1Fs.png"/>
            <p class="item--wnm">입금 내역</p>
            <img class="group-TFK" src="./assets/group-qwB.png"/>
          </div>
          <div class="chat-11w">
            <img class="humbleicons-chat-XW5" src="./assets/humbleicons-chat-eiy.png"/>
            <p class="item--3UR">쪽지</p>
            <img class="group-9nM" src="./assets/group-oJm.png"/>
          </div>
        </div>
        <div class="setting-5vu">
          <div class="auto-group-vm8y-3Mw">
            <p class="item--Nf7">설정</p>
            <img class="mdi-password-check-outline-Hn5" src="./assets/mdi-password-check-outline-JCd.png"/>
          </div>
          <p class="item--cJZ">비밀번호 변경</p>
          <img class="group-7m7" src="./assets/group-b6d.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-gwx7-qBK">
      <div class="mydata-yHX">
        <div class="auto-group-vpl5-fw3">
          <p class="item--Cg5">마이 데이터</p>
          <div class="item--XTT">내 프로젝트의 진행상황을 확인해보세요</div>
          <div class="accountpagebtn-1dX">
            <img class="group-135-wGH" src="./assets/group-135-Rxq.png"/>
            <div class="item--s9w">수익 계좌 관리</div>
          </div>
        </div>
        <div class="info2-yCy">
          <img class="auto-group-5ysb-HjT" src="./assets/auto-group-5ysb.png"/>
          <div class="item--pUV">찜하기</div>
          <div class="item-123--Lxd">
            <span class="item-123--Lxd-sub-0">123 </span>
            <span class="item-123--Lxd-sub-1">건</span>
          </div>
        </div>
        <div class="info2-cof">
          <img class="auto-group-lsjm-jdP" src="./assets/auto-group-lsjm.png"/>
          <div class="item--Frd">펀딩 모금액</div>
          <div class="p-xW9">
            <span class="p-xW9-sub-0">115,320</span>
            <span class="p-xW9-sub-1"> </span>
            <span class="p-xW9-sub-2">P</span>
          </div>
        </div>
        <div class="info3-EMB">
          <img class="auto-group-muf3-9U9" src="./assets/auto-group-muf3.png"/>
          <div class="item--56u">경매 참여 인원</div>
          <div class="item-56--Z25">
            <span class="item-56--Z25-sub-0">56</span>
            <span class="item-56--Z25-sub-1"> </span>
            <span class="item-56--Z25-sub-2">명</span>
          </div>
        </div>
      </div>
      <div class="insertproject-QB7">
        <div class="auto-group-rnhj-LKf">
          <p class="item--FxR">내 프로젝트 만들기</p>
          <div class="item--xrq">경작 및 경매를 위한 프로젝트를 만들고 서포터들의 지지를 받아보세요! </div>
        </div>
        <div class="line-66-cgV">
        </div>
        <div class="line-68-kXo">
        </div>
        <div class="line-69-65s">
        </div>
        <div class="auto-group-ujlv-dbb">
          <div class="farmname-YCm">
            <div class="farmnameleft-GPf">
              <p class="item--pRB">농장명</p>
              <p class="item--Y6H">농장명을 입력해주세요.</p>
            </div>
            <div class="group-185-3Yq">행복농장</div>
          </div>
          <div class="farminfo-snm">
            <div class="farminfoleft-zsP">
              <p class="item--XMX">농장 소개글</p>
              <p class="item-00--eBF">
              농장 소개글을 입력해주세요. 
              <br/>
              최대 00글자까지 입력 가능합니다.
              </p>
            </div>
            <div class="auto-group-sayu-Hzu">
              <div class="rectangle-192-r2R">
              </div>
              <div class="rectangle-193-ZxR">
              </div>
              <p class="item--hoj">수원 제일가는 왕가 탕후루 납품 그 농장!! 행복농장입니다.</p>
            </div>
          </div>
          <div class="farmaddress-iTw">
            <div class="auto-group-aenz-4Gu">
              <p class="item--1C9">농장 주소</p>
              <div class="auto-group-ub2u-YC5">
                <div class="addresspost-4RK">
                  <div class="item--QVB">우편번호</div>
                  <div class="rectangle-192-tv9">
                  </div>
                </div>
                <div class="updatebtn-1js">주소 검색</div>
              </div>
            </div>
            <div class="auto-group-5dqh-qU1">
              <div class="addressdetail-LvZ">
                <div class="item--HL1">상세주소</div>
                <div class="rectangle-192-BAV">
                </div>
              </div>
              <div class="addressroad-h8q">
                <div class="item--ScD">도로명주소</div>
                <div class="rectangle-192-LxV">
                </div>
              </div>
            </div>
          </div>
          <div class="farmarea-TnD">
            <div class="auto-group-ztzq-133">
              <p class="item--jzd">농장 평수</p>
              <p class="item--fdP">대략적인 농장 평수를 입력해주세요. </p>
            </div>
            <div class="auto-group-6qqh-ZCy">
              <div class="group-185-VMX">
                <div class="rectangle-195-2MT">
                </div>
              </div>
              <div class="item--xF7">평</div>
            </div>
          </div>
        </div>
        <div class="addressbtn-4Z3">프로젝트 만들기</div>
        <div class="auto-group-57ch-VuF">
          <div class="targetamount-QFX">
            <div class="auto-group-w2um-uxy">
              <p class="item--fhF">펀딩 목표 금액</p>
              <p class="item--yxq">
              목표 펀딩 금액을 설정해주세요. 
              <br/>
              비슷한 카테고리 및 농장 규모의 펀딩 금액을 살펴보면 
              <br/>
              쉽게 설정 가능해요!
              </p>
            </div>
            <div class="targetamountinput-BZ7">
              <div class="group-185-Jdj">
                <div class="rectangle-195-G4m">
                </div>
              </div>
              <div class="p-ar9">P</div>
            </div>
          </div>
          <div class="auto-group-yjps-hvm">
            <div class="deadline-rHs">
              <p class="item--Pob">펀딩 마감일</p>
              <p class="item--v2q">
              재배 예정일을 고려하여 펀딩 마감일을 설정해주세요.
              <br/>
              기한이 지나면 프로젝트가 종료됩니다.
              </p>
            </div>
            <div class="group-185-jW5">
              <img class="mingcute-calendar-line-s6V" src="./assets/mingcute-calendar-line-Gmb.png"/>
            </div>
          </div>
        </div>
        <p class="item--9Zo">펀딩정보</p>
        <p class="item--S37">농장정보</p>
      </div>
    </div>
  </div>
  <div class="footer-K6u">
    <div class="auto-group-zva1-p3f">
      <div class="inc-V9o">팜팜 INC.</div>
      <p class="item--yKs">팜팜</p>
      <img class="image-22-4s7" src="./assets/image-22-DMw.png"/>
      <div class="group-147-c7w">
        <div class="c-8ry">C</div>
        <div class="ellipse-30-Scm">
        </div>
      </div>
    </div>
    <div class="auto-group-ydjk-MUq">
      <div class="item--fkR">투자위험고지</div>
      <div class="about-farmfarm-acV">ABOUT FARMFARM</div>
    </div>
    <div class="auto-group-xmqx-iCu">
      <p class="item--e6Z">
      투자는 원금 손실과 유동성 및 현금성에 대한 투자위험을 가지고 있습니다.
      <br/>
      투자 전에 투자위험고지를 꼭 확인해주세요. 
      <br/>
      
      <br/>
      (주)팜팜은 중개업(온라인소액투자중개 및 통신판매중개)를 영위하는 플랫폼 제공자로 자금을 모집하는 당사자가 아닙니다.
      <br/>
      따라서 투자손실의 위험을 보전하거나 리워드 제공을 보장해 드리지 않으며 이에 대한 법적인 책임을 지지 않습니다.
      </p>
      <div class="auto-group-kwyd-Jyj">
        <p class="item--Tbj">팜팜이란?</p>
        <p class="item--ntu">새소식</p>
        <p class="item--jJM">커뮤니티파트너</p>
      </div>
    </div>
    <div class="line-51-r85">
    </div>
    <p class="c-1153-4-77-ds-sw-4-yTb">
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-0">팜팜(주) </span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-1">| </span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-2">대표이사 김지원 </span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-3">|</span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-4"> 사업자등록번호 258-01-10034</span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-5"> |</span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-6"> 통신판매업신고번호 2023-서울서북C-1153 </span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-7">|</span>
      <span class="c-1153-4-77-ds-sw-4-yTb-sub-8"> 서울특별시 마포구 월드컵북로4길 77 신한DS 금융 SW아카데미 4반</span>
    </p>
    <p class="infofarmfarmkr-1661-1003-DYH">
      <span class="infofarmfarmkr-1661-1003-DYH-sub-0">이메일 상담 info@farmfarm.kr </span>
      <span class="infofarmfarmkr-1661-1003-DYH-sub-1">| </span>
      <span class="infofarmfarmkr-1661-1003-DYH-sub-2">유선상담 1661-1003</span>
    </p>
  </div>
</div>
</body>