<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>mypage/파머/내 프로젝트 만들기/상품정보</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gmarket+Sans%3A400"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C700%2C800"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pretendard%3A400%2C700%2C800"/>
  <link rel="stylesheet" href="./styles/regProduct.css"/>
</head>
<body>
<div class="mypage--YJR">
  <div class="header-QrR">
    <div class="auto-group-mlhs-j81">
      <div class="group-144-DJ5">
        <div class="auto-group-mdnm-jXK">
          <img class="image-22-FEm" src="./assets/image-22-PmX.png"/>
          <p class="item--ZFT">팜팜</p>
        </div>
        <div class="auto-group-hai1-4CD">
          <div class="item--BXj">펀딩</div>
          <div class="item--hFB">경매</div>
          <div class="item--cd3">마이팜</div>
        </div>
        <img class="line-24-kDT" src="./assets/line-24-BcZ.png"/>
      </div>
      <div class="headerfarmer-g77">
        <div class="auto-group-yp6z-cWZ">
          <img class="messageicon-wYq" src="./assets/messageicon-Xk1.png"/>
          <p class="item--5Q9">쪽지함</p>
          <div class="newmessageicon-ykR">
            <div class="rectangle-121-Jnh">
            </div>
            <p class="n-dpy">N</p>
          </div>
        </div>
        <div class="group-127-LUV">나의 프로젝트 만들기</div>
      </div>
    </div>
    <div class="rectangle-101-Bzu">
    </div>
  </div>
  <div class="auto-group-upez-wDP">
    <div class="menu-rLM">
      <div class="auto-group-awbo-BdX">
        <div class="userinfo-XhP">
          <div class="auto-group-rjuz-rjf">
            <div class="auto-group-rzwy-j2m">파머</div>
            <img class="vector-kyT" src="./assets/vector-UBF.png"/>
            <p class="item--VAM">빵파머님</p>
          </div>
        </div>
        <div class="logout-MyF">
          <p class="item--h1X">로그아웃</p>
          <div class="log-out-xi9">
          </div>
        </div>
        <div class="my-activity-5Gy">
          <p class="item--1Ad">활동 관리</p>
          <div class="auto-group-vgfx-v2h">
            <div class="rectangle-159-3t1">
            </div>
            <div class="myproject-PS5">
              <img class="iconoir-web-window-energy-consumption-JJ9" src="./assets/iconoir-web-window-energy-consumption-8Wy.png"/>
              <p class="item--cZj">나의 프로젝트</p>
              <img class="group-Wv1" src="./assets/group-NZ3.png"/>
            </div>
          </div>
          <div class="depositlist-rys">
            <img class="tabler-zoom-money-aey" src="./assets/tabler-zoom-money-9qf.png"/>
            <p class="item--VX3">입금 내역</p>
            <img class="group-ba5" src="./assets/group-cu3.png"/>
          </div>
          <div class="chat-LnZ">
            <img class="humbleicons-chat-4iZ" src="./assets/humbleicons-chat-gow.png"/>
            <p class="item--BYH">쪽지</p>
            <img class="group-txV" src="./assets/group-6AZ.png"/>
          </div>
        </div>
        <div class="setting-dv5">
          <div class="auto-group-gnbf-nny">
            <p class="item--74Z">설정</p>
            <img class="mdi-password-check-outline-ayj" src="./assets/mdi-password-check-outline-AJ1.png"/>
          </div>
          <p class="item--uFK">비밀번호 변경</p>
          <img class="group-Qxm" src="./assets/group-6rR.png"/>
        </div>
      </div>
    </div>
    <div class="auto-group-x91w-jEM">
      <div class="mydata-FyP">
        <div class="auto-group-rdks-NYD">
          <p class="item--6UD">마이 데이터</p>
          <div class="item--chT">내 프로젝트의 진행상황을 확인해보세요</div>
          <div class="accountpagebtn-78R">
            <img class="group-135-dMf" src="./assets/group-135-r6h.png"/>
            <div class="item--mCy">수익 계좌 관리</div>
          </div>
        </div>
        <div class="info2-G9j">
          <img class="auto-group-ep7s-BXb" src="./assets/auto-group-ep7s.png"/>
          <div class="item--Kdo">찜하기</div>
          <div class="item-123--F1f">
            <span class="item-123--F1f-sub-0">123 </span>
            <span class="item-123--F1f-sub-1">건</span>
          </div>
        </div>
        <div class="info2-7i5">
          <img class="auto-group-7gow-dAd" src="./assets/auto-group-7gow.png"/>
          <div class="item--xCu">펀딩 모금액</div>
          <div class="p-eLd">
            <span class="p-eLd-sub-0">115,320</span>
            <span class="p-eLd-sub-1"> </span>
            <span class="p-eLd-sub-2">P</span>
          </div>
        </div>
        <div class="info3-6M3">
          <img class="auto-group-rgsf-omF" src="./assets/auto-group-rgsf.png"/>
          <div class="item--XhF">경매 참여 인원</div>
          <div class="item-56--pgM">
            <span class="item-56--pgM-sub-0">56</span>
            <span class="item-56--pgM-sub-1"> </span>
            <span class="item-56--pgM-sub-2">명</span>
          </div>
        </div>
      </div>
      <div class="insertproject-e37">
        <div class="auto-group-ovs1-Nzh">
          <p class="item--JtM">내 프로젝트 만들기</p>
          <div class="item--RCH">경작 및 경매를 위한 프로젝트를 만들고 서포터들의 지지를 받아보세요! </div>
        </div>
        <div class="line-66-4m3">
        </div>
        <div class="line-68-bky">
        </div>
        <div class="auto-group-5qos-9Gh">
          <div class="category-FKj">
            <div class="categoryleft-AxV">
              <p class="item--vRs">상품 카테고리</p>
              <p class="item--2zh">내 프로젝트 상품 종류를 선택해 주세요.</p>
            </div>
            <div class="categorychoose-8Xw">
              <div class="status2-3uo">쌀</div>
              <div class="status1-WoP">콩</div>
              <div class="status3-CRK">팥</div>
              <div class="status4-4Cd">녹두</div>
              <div class="status5-uyw">감자</div>
              <div class="status6-P8R">고구마</div>
            </div>
          </div>
          <div class="productname-3Ts">
            <div class="productnameleft-mPs">
              <p class="item--W6Z">상품명</p>
              <p class="item--EHT">
              상품을 잘 나타낼 수 있는 상품명을 설정해 주세요. 
              <br/>
              서포터들이 쉽게 검색할 수 있도록 다양한 워딩을 사용해 주면 좋아요.
              </p>
            </div>
            <div class="auto-group-4ru5-Qr9">
              <div class="rectangle-192-wr5">
              </div>
              <div class="rectangle-193-TZX">
              </div>
              <p class="item--b9w">탕루루 납품 달달 스테비아 토망고</p>
            </div>
          </div>
          <div class="projectthubimage-Rem">
            <div class="projectthubimageleft-M2d">
              <p class="item--hMP">농산물 이미지</p>
              <p class="item--Dad">
              경매를 위한 농산물 이미지를 업로드 해주세요. 
              <br/>
              상세 페이지의 최상단에 노출됩니다. 
              </p>
            </div>
            <div class="imageupload-SCV">
              <div class="imageuploadicon-xRj">
                <img class="vector-7Jd" src="./assets/vector-ZXb.png"/>
                <p class="item--Srh">사진 올리기</p>
              </div>
            </div>
          </div>
          <div class="projectimage-WLm">
            <div class="projectimageleft-EGm">
              <p class="item--yk9">농산물 상세 이미지</p>
              <p class="item-5--guT">
              상세 페이지에 삽일될 이미지를 업도르 해주세요.
              <br/>
              농산물의 특징과 상태가 잘 드러나는 이미지를 선택해 보세요.
              <br/>
              최대 5장까지 업로드 가능합니다.
              </p>
            </div>
            <div class="auto-group-xen9-2rq">
              <div class="imageupload-NQu">
                <div class="imageuploadicon-H25">
                  <img class="vector-p21" src="./assets/vector-Pmo.png"/>
                  <p class="item--idB">사진 올리기</p>
                </div>
              </div>
              <div class="imageupload-iWh">
                <div class="imageuploadicon-qbK">
                  <img class="vector-zj7" src="./assets/vector-wAm.png"/>
                  <p class="item--8aR">사진 올리기</p>
                </div>
              </div>
            </div>
            <div class="auto-group-j7b3-biu">
              <div class="imageupload-k61">
                <div class="imageuploadicon-sRX">
                  <img class="vector-q7T" src="./assets/vector-wEd.png"/>
                  <p class="item--Zp9">사진 올리기</p>
                </div>
              </div>
              <div class="imageupload-dZ7">
                <div class="imageuploadicon-AZ3">
                  <img class="vector-8Ey" src="./assets/vector-CV3.png"/>
                  <p class="item--fkh">사진 올리기</p>
                </div>
              </div>
            </div>
            <div class="imageupload-jkZ">
              <div class="imageuploadicon-4H3">
                <img class="vector-1i5" src="./assets/vector-eb7.png"/>
                <p class="item--kvZ">사진 올리기</p>
              </div>
            </div>
          </div>
          <div class="harvestdate-38y">
            <div class="harvestdateleft-YLd">
              <p class="item--67F">재배 예정일</p>
              <p class="item--p3F">재배 예정일을 설정해주세요.</p>
            </div>
            <div class="group-185-7o3">
              <img class="mingcute-calendar-line-FuF" src="./assets/mingcute-calendar-line.png"/>
            </div>
          </div>
          <div class="plantingdate-9zd">
            <div class="plantingdateleft-Vob">
              <p class="item--rPF">수확 예정일</p>
              <p class="item--mm7">수확 예정일을 설정해주세요.</p>
            </div>
            <div class="group-185-5Wu">
              <img class="mingcute-calendar-line-cFw" src="./assets/mingcute-calendar-line-mxh.png"/>
            </div>
          </div>
        </div>
        <div class="updatebtn-6wo">다음</div>
        <p class="item--jE5">상품정보</p>
      </div>
    </div>
  </div>
  <div class="footer-cHs">
    <div class="auto-group-wq4h-Kxy">
      <div class="inc-Eq3">팜팜 INC.</div>
      <p class="item--9BK">팜팜</p>
      <img class="image-22-dsB" src="./assets/image-22-5nM.png"/>
      <div class="group-147-yRF">
        <div class="c-Wg5">C</div>
        <div class="ellipse-30-QmT">
        </div>
      </div>
    </div>
    <div class="auto-group-flmj-WpV">
      <div class="item--du7">투자위험고지</div>
      <div class="about-farmfarm-wQ1">ABOUT FARMFARM</div>
    </div>
    <div class="auto-group-u5ur-fqo">
      <p class="item--zt5">
      투자는 원금 손실과 유동성 및 현금성에 대한 투자위험을 가지고 있습니다.
      <br/>
      투자 전에 투자위험고지를 꼭 확인해주세요. 
      <br/>
      
      <br/>
      (주)팜팜은 중개업(온라인소액투자중개 및 통신판매중개)를 영위하는 플랫폼 제공자로 자금을 모집하는 당사자가 아닙니다.
      <br/>
      따라서 투자손실의 위험을 보전하거나 리워드 제공을 보장해 드리지 않으며 이에 대한 법적인 책임을 지지 않습니다.
      </p>
      <div class="auto-group-vqmb-Fqw">
        <p class="item--buo">팜팜이란?</p>
        <p class="item--Y4M">새소식</p>
        <p class="item--fem">커뮤니티파트너</p>
      </div>
    </div>
    <div class="line-51-PKs">
    </div>
    <p class="c-1153-4-77-ds-sw-4-iN9">
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-0">팜팜(주) </span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-1">| </span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-2">대표이사 김지원 </span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-3">|</span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-4"> 사업자등록번호 258-01-10034</span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-5"> |</span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-6"> 통신판매업신고번호 2023-서울서북C-1153 </span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-7">|</span>
      <span class="c-1153-4-77-ds-sw-4-iN9-sub-8"> 서울특별시 마포구 월드컵북로4길 77 신한DS 금융 SW아카데미 4반</span>
    </p>
    <p class="infofarmfarmkr-1661-1003-74q">
      <span class="infofarmfarmkr-1661-1003-74q-sub-0">이메일 상담 info@farmfarm.kr </span>
      <span class="infofarmfarmkr-1661-1003-74q-sub-1">| </span>
      <span class="infofarmfarmkr-1661-1003-74q-sub-2">유선상담 1661-1003</span>
    </p>
  </div>
</div>
</body>