@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LINESeedKR-Bd-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/LINESeedKR-Bd-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}
:root { -
	-main-color: #D4ECC0; -
	-farm-green: #64A346;
}

html {
	font-size: 62.5%;
	zoom: 0.67;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

body {
	width: 100%;
	position:relative;
	font-family: Pretendard, 'Source Sans Pro';
}

.container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin: 8rem 0 10rem 0;
}

.left-div {
	width: 70rem;
	margin-right: 15rem;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-thum-img {
	    margin-bottom: 5rem;
    width: 60rem;
    border-radius: 1.355rem;
    margin-top: 5rem;
}

.product-detail-tag {
	font-size: 3rem;
	margin-bottom: 5rem; 
	color: #828282;
	align-self: flex-start;
}
.product-detail-img {
	width: 100%;
	margin-bottom:5px;
}

.showmore-btn {
	height: 4rem;
	width: 100%;
	border: solid 0.01rem #64a246;
	border-radius: 0.3613rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.show-more-text {
	font-size: 2rem;
	font-weight: 800;
	color: #64a246;
	
}

.arrow-see-more {
	width: 1rem;
	height: 1rem;
	margin-left: 1rem;
}

.right-div {
	width: 50rem;
	height: 100%;
}

.productinfo-div {
	margin-bottom: 2rem ;
	display: flex;
	flex-direction: column;
}

.farmerinfoline1 {
	margin: 0rem 0 2rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product_name
	{
	font-size: 3.5rem;
	font-weight: 700;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
}

.shareicon-class
	{
	width: 3rem;
	height: 3rem;
	margin-left: auto;
    margin-right: 2rem;
}

.farm-introduction-class {
	text-align: left;
	font-size: 1.8rem;
	font-weight: 200;
	line-height: 1.2125;
	color: #828282;
	font-family: Pretendard, 'Source Sans Pro';
	padding: 1rem 0 1rem 0;
}

.funding-participant-info {
	margin: 0rem 0rem 2rem 0rem;
	display: flex;
	flex-direction: column;
}

.funding-paticipant
{
	margin-bottom: 1.5rem;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
}

.participant-cnt
	{
	height: 100%;
	margin-right: 0.5rem;
	font-weight : 800;
	font-size: 2.5rem;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.due-day
	{
	width: 9rem;
	height: 100%;
	font-family: Pretendard, 'Source Sans Pro';
	display: flex;
	justify-content: center;
	align-items:center;
	background-color: #b2d6a1;
	border-radius: 2.2rem;
	box-shadow: 0 0.1613rem 0.5rem rgba(0, 0, 0, 0.25);
}

.dday-tag {
	font-size: 15px;
	line-height: 100%;
}

.funding-paticipate-info {
	width: 3rem;
	align-items: baseline;
	display: inline-flex;
}

.paticipant-tag {
	align-items: baseline;
	display: inline-flex;
}
.funding-max-price {
	font-size: 2.5rem;
	font-weight: 800;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	
}

.small-unit {
	color: #828282;
	white-space: nowrap;
	font-size: 1.5rem;
	font-family: Pretendard, 'Source Sans Pro';
	margin-right: 2rem;
}

.frame-layout {
	margin: 0rem 0rem 3.5rem 0rem;
	box-sizing: border-box;
	padding: 3rem 0rem 0rem 3rem;
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
}

.farmerinfo-frame1
	{
	margin: 0rem 0rem 1.796rem 0rem;
	height: 3.8843rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.farmerinfo-frame1
	{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.farmerinfo-line1-div
	{
	height: 100%;
	display: flex;
	align-items: center;
	
}

.farmer-image
	{
	margin-right: 2rem;
	width: 7rem;
	height: 7rem;
	object-fit: contain;
	vertical-align: top;
	border-radius: 50%;
}

.reading-glasses-icon {
	height: 22px;
	width: 22px;
 	margin-left: 1.5rem;
}

.farmer-name-div
	{
	margin-bottom: 0.1052rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	
}

.chaticon-img
	{
	width: 3rem;
	height: 3rem;
	position: relative;
	margin-left: auto;
    margin-right: 2rem;
}

.frame-layer {
	margin-top : 4rem;  
}

.frame-line {
	margin: 0rem 0rem 2rem 0rem;
	display: flex;
	align-items: center;
}

.frame-line2 {
	margin: 0rem 0rem 2rem 0rem;
	display: flex;
	align-items: center;
	
}

.frame-tit {
	margin-right: 7.5rem;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-basis: 150px;
	margin-right: 3rem;
}

.frame-val {
	font-size: 1.8067rem;
	font-weight: 500;
	color: #000000;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	
}
.cropsquote-tag {
	margin: 0rem 0rem 0.9rem 0.1rem;
	font-size: 1.9873rem;
	font-weight: 700;
	line-height: 1.2125;
	color: #000000;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	
}

.auctionhistory-div {
	margin: 0rem 0rem 3.5rem 0rem;
	box-sizing: border-box;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
	height: 15rem;
	overflow:auto;
	white-space:nowrap;
}

.auctionhisotry-inner-layout {

	display: flex;
	flex-direction: column;
	
}

.auction-participant-info {
	display: flex;
    line-height: 2.3;
	font-family: Pretendard, 'Source Sans Pro';
}
.auction-participant-info:first-child {
    background-color: #ffff5382;
}

.auction-participant-info p {
	font-size: 1.5rem;
}

.auction-participant-info p:nth-of-type(1) {
	width: 110px;
}
.auction-participant-info p:nth-of-type(3) {
	width: 165px;
	margin-left: auto;
}
.frame-tag {
	margin: 0rem 0rem 0.9rem 0.1rem;
	font-size: 1.9873rem;
	font-weight: 800;
	line-height: 1.2125;
	color: #000000;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	display: flex;
}

.auction-price-form {
	position: relative;
}

.auction-price-input {
	box-sizing: border-box;
	text-align: right;
	width: calc(100% - 0.0325rem);
	padding: 1.5rem 5rem 1.5rem 1rem;
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
	position: relative;
	font-family: Pretendard, 'Source Sans Pro';
	font-size: 2.3rem;
	font-weight: 550;
}

.won-unit {
	position: absolute;
	right: 5%;
	top: 28%;
	color: darkgray;
	font-family: Pretendard, 'Source Sans Pro';
	font-size: 2.1rem;
	font-weight: bold;
}

.point-show {
	font-size: 2rem;
	font-family: Pretendard, 'Source Sans Pro';
	margin: 1rem 0rem 0rem 0rem;
	visibility: hidden;
	text-align: right;
	font-weight: bolder;
	color: #e0181880;
}

.last-layer {
	margin-right: 0rem;
	margin-top: 3rem;
	width: calc(100% - 0rem);
	height: 5.7124rem;
	display: flex;
	align-items: center;
}

.bookmark-layer {
	margin: 0rem 2.183rem 0.021rem 0rem;
	box-sizing: border-box;
	padding: 1.219rem 1.226rem 0.84rem 1.132rem;
	width: 5.4589rem;
	height: calc(100% - 0.0214rem);
	border: solid 0.0903rem #a2a2a3;
	border-radius: 0.3613rem;
}

.bookmark-btn {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.heart-icon, .heart-icon .filled {
	margin: 0rem 0rem 0.1rem 0.116rem;
	height: 2.3rem;
}

.heart-num {
	font-size: 1.2647rem;
	line-height: 1.2125;
	color: #a2a2a3;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.auction-confirm-btn {
	width: 50rem;
	position: relative;
	font-size: 1.8rem;
	font-weight: 800;
	color: #ffffff;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #64a246;
	border-radius: 0.3613rem;
	border-color : #64a246;
	height: calc(100% - 0.0214rem);
	letter-spacing: 0.3rem;
}

.project_story {
	width: 10.7rem;
	height: 2.5rem;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 800;
	line-height: 1.2125;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	margin-bottom: 1rem;
}

.fd_prostorypic {
	    margin-bottom: 5rem;
    width: 60rem;
    border-radius: 1.355rem;
    margin-top: 5rem;
}


.stroymoregroup {
	width: 60rem;
	height: 4.6973rem;
	border: solid 0.0903rem #64a246;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 0.3613rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10rem;
}

.stroymoregroup .grouptext {
	width: 13.1501rem;
	height: 2.2rem;
	display: flex;
	align-items: center;
}
.stroymoregroup .grouptext .text
	{
	margin-right: 3.4715rem;
	text-align: center;
	font-size: 1.8067rem;
	font-weight: 800;
	line-height: 1.2125;
	color: #64a246;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}
 .stroymoregroup .grouptext .fd_greencheck
	{
	margin-bottom: 0.2677rem;
	width: 1.0787rem;
	height: 0.5378rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}


/*������ �̺�Ʈ ������ ����*/
.showstep1 {
	max-height: 30rem;
	overflow: hidden;
	position: relative;
}

.showstep2 {
	max-height: 3100rem;
	overflow: hidden;
}

.fd_prostorypic {
	max-height: 3100rem;
}

.hide {
	display: none;
} 
a {
  text-decoration-line: none;
}
.gradient{
	height: 15rem;
	width: 60rem;
	background: linear-gradient(to top, white, white 10%, transparent);
	position: absolute;
    top: 15rem;
    left: 0;
}