@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'LINESeedKR-Bd-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/LINESeedKR-Bd-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}
:root { -
	-main-color: #D4ECC0; -
	-farm-green: #64A346;
}

html {
	font-size: 62.5%;
	zoom: 0.67;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

body {
	width: 100%;
	position:relative;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
}

.container {
	width: 100%;
	position: absolute;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.left-div {
	width: 70rem;
	margin-right: 15rem;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product-thum-img {
	margin-bottom: 10rem;
	width: 100%;
	border-radius: 2rem;
}

.product-detail-tag {
	font-size: 3rem;
	margin-bottom: 1.5rem; 
	color: #828282;
	align-self: flex-start;
}
.product-detail-img {
	margin-bottom: 5rem;
	width: 100%;
}

.showmore-btn {
	height: 4rem;
	width: 100%;
	border: solid 0.01rem #64a246;
	border-radius: 0.3613rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.show-more-text {
	font-size: 2rem;
	font-weight: 800;
	color: #64a246;
	
}

.arrow-see-more {
	width: 1rem;
	height: 1rem;
	margin-left: 1rem;
}

.right-div {
	width: 50rem;
	height: 100%;
}

.productinfo-div {
	margin-bottom: 2rem ;
	display: flex;
	flex-direction: column;
}

.farmerinfoline1 {
	margin: 0rem 0 2rem 0rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product_name
	{
	font-size: 3.5rem;
	font-weight: 700;
	color: #2d2d2d;
	font-family: TheJamsil5Bold, 'Source Sans Pro';
}

.shareicon-class
	{
	width: 3rem;
	height: 3rem;s
}

.farm-introduction-class {
	text-align: left;
	font-size: 1.8rem;
	font-weight: 200;
	line-height: 1.2125;
	color: #828282;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	padding: 1rem 0 1rem 0;
}

.funding-participant-info {
	margin: 0rem 0rem 2rem 0rem;
	display: flex;
	flex-direction: column;
}

.funding-paticipant
{
	margin-bottom: 1.5rem;
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
}

.participant-cnt
	{
	height: 100%;
	margin-right: 0.5rem;
	font-weight : 800;
	font-size: 2.5rem;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
}

.due-day
	{
	width: 9rem;
	height: 1.9873rem;
	font-size: 1.5rem;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	display: inline-flex;
	justify-content: center;
	align-items:center;
	background-color: #b2d6a1;
	border-radius: 2.2rem;
	box-shadow: 0 0.1613rem 0.5rem rgba(0, 0, 0, 0.25);
}

.dday-tag {
	vertical-align: middle;
	font-size: 1.5rem;
	line-height: 100%;
}

.funding-paticipate-info {
	width: 3rem;
	align-items: baseline;
	display: inline-flex;
}

.paticipant-tag {
	align-items: baseline;
	display: inline-flex;
}
.funding-max-price {
	font-size: 2.5rem;
	font-weight: 800;
	color: #2d2d2d;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.small-unit {
	color: #828282;
	white-space: nowrap;
	font-size: 1.5rem;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	margin-right: 2rem;
}

.farmerinfo-div {
	margin: 0rem 0rem 3.5rem 0.032rem;
	box-sizing: border-box;
	padding: 1.355rem 2.356rem 1.4rem 1.8rem;
	display: flex;
	flex-direction: column;
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
}

.farmerinfo-frame1
	{
	margin: 0rem 0rem 1.796rem 0rem;
	height: 3.8843rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.farmerinfo-line1-div
	{
	height: 100%;
	display: flex;
	align-items: center;
	
}

.farmer-image
	{
	margin-right: 3.118rem;
	width: 3.869rem;
	height: 3.8843rem;
	object-fit: contain;
	vertical-align: top;
	
	border-radius: 50%;
}

.farmer-name-div
	{
	margin-bottom: 0.1052rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #2d2d2d;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.chaticon-img
	{
	width: 2.2412rem;
	height: 1.948rem;
	position: relative;
	object-fit: contain;
	vertical-align: top;
	
}

.right-div .farmerinfo-div .farmerinfo-frame2
	{
	margin-right: 2.4473rem;
	width: 33.7967rem;
	
}

.frame2-line1, .frame2-line2, .frame2-line3, .frame2-line4,
	.frame2-line5 {
	margin: 0rem 15.5rem 2.292rem 0rem;
	width: calc(100% - 15.5rem);
	display: flex;
	align-items: center;
}

.farm-name {
	margin-right: 7.5rem;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.farm-name-val, .farm-address-val, .farm-footage-val, .farm-kind-val,
	.crops-finish-val, .farmer-phone-val {
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.farm-address, .farm-footage {
	margin: 0rem 5.297rem 0rem 0rem;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.farm-kind, .crops-finish, .farmer-phone {
	margin: 0rem 3.5rem 0rem 0rem;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.frame2-line6 {
	margin-right: 8.3967rem;
	width: calc(100% - 8.3967rem);
	display: flex;
	align-items: center;
	
}

.crops-info-div {
	margin: 0rem 0rem 3.5rem 0.032rem;
	box-sizing: border-box;
	padding: 1.807rem 1.8rem 1.386rem 1.8rem;
	width: calc(100% - 0.0325rem);
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
}

.crops-inner-div {
	width: 30.8663rem;
	height: 100%;
}

.crops-line1, .crops-line2 {
	margin: 0rem 3.593rem 2.3rem 0rem;
	width: calc(100% - 3.5931rem);
	display: flex;
	align-items: center;
}

.crops-amount {
	margin: 0.193rem 17.35rem 0rem 0rem;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.crops-amount-val {
	text-align: center;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.crops-line3 {
	width: 100%;
	display: flex;
	align-items: center;
}

.kg-per-price, .starting-price {
	margin: 0rem 6rem 0rem 0rem;
	font-size: 1.8067rem;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
}

.kg-per-price-val, .starting-price-val {
	margin-bottom: 0.0443rem;
	text-align: center;
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.crops-api-info {
	margin: 0rem 0rem 3.5rem 0.032rem;
	box-sizing: border-box;
	padding: 7.4rem 1.8rem 7.473rem 1.8rem;
	width: calc(100% - 0.0325rem);
	font-size: 1.8067rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
}

.auctionhisotry-tag, .cropsquote-tag {
	margin: 0rem 0rem 0.9rem 0.1rem;
	font-size: 1.9873rem;
	font-weight: 700;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.auctionhistory-div {
	margin: 0rem 0rem 3.5rem 0.032rem;
	box-sizing: border-box;
	padding: 1.807rem 1.8rem 1.386rem 1.8rem;
	width: calc(100% - 0.0325rem);
	display: flex;
	flex-direction: column;
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
	height: 10rem;
	overflow:auto;
	white-space:nowrap;
}

.auctionhisotry-inner-layout {
	margin: 0rem 1.956rem 0rem 1rem;
	width: calc(100% - 4.3849rem);
	display: flex;
	flex-direction: column;
	
}

.auction-participant-info:first-child {
/* 	border: 3px solid red;
    border-radius: 0.3613rem; */
    margin: 0 0 0.5rem 0;
    width: max-content;
    height: 100%;
    display: flex;
    line-height: 2rem;
    white-space: nowrap;
/*     padding: 1rem 1rem 1rem 1rem; */
    background-color: #ffff5382
}

.auction-participant-info {
margin: 0 0 0.5rem 0;
	width: max-content;
	height: 100%;
	display: flex;
	line-height: 2rem;
	white-space: nowrap;
}

.auction-participant-name {
	margin-right: 4rem;
	font-size: 1.4rem;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
}

.auction-participant-val {
	margin-right: 4rem;
	font-size: 1.4rem;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
}

.auction-participate-date {
	font-size: 1.4rem;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
}

.auction-input-tag {
	margin: 0rem 0rem 0.9rem 0.1rem;
	font-size: 1.9873rem;
	font-weight: 800;
	line-height: 1.2125;
	color: #000000;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	
}

.auction-price-form {
	position: relative;
}

.auction-price-input {
	box-sizing: border-box;
	text-align: right;
	width: calc(100% - 0.0325rem);
	padding: 1.5rem 5rem 1.5rem 1rem;
	border: solid 0.0903rem #64a246;
	border-radius: 0.3613rem;
	position: relative;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	font-size: 2.3rem;
	font-weight: 550;
}

.won-unit {
	position: absolute;
	right: 5%;
	top: 28%;
	color: darkgray;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	font-size: 2.1rem;
	font-weight: bold;
}

.point-show {
	font-size: 2rem;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	margin: 1rem 0rem 0rem 0rem;
	visibility: hidden;
	text-align: right;
	font-weight: bolder;
	color: #e0181880;
}

.last-layer {
	margin-right: 0rem;
	margin-top: 3rem;
	width: calc(100% - 0rem);
	height: 5.7124rem;
	display: flex;
	align-items: center;
}

.bookmark-layer {
	margin: 0rem 2.183rem 0.021rem 0rem;
	box-sizing: border-box;
	padding: 1.219rem 1.226rem 0.84rem 1.132rem;
	width: 5.4589rem;
	height: calc(100% - 0.0214rem);
	border: solid 0.0903rem #a2a2a3;
	border-radius: 0.3613rem;
}

.bookmark-btn {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.heart-icon, .heart-icon .filled {
	margin: 0rem 0rem 0.1rem 0.116rem;
	height: 2.3rem;
}

.heart-num {
	font-size: 1.2647rem;
	line-height: 1.2125;
	color: #a2a2a3;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
}

.auction-confirm-btn {
	width: 32.791rem;
	height: calc(100% - 0.0124rem);
	position: relative;
	font-size: 1.8rem;
	font-weight: 800;
	color: #ffffff;
	font-family: LINESeedKR-Bd, 'Source Sans Pro';
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #64a246;
	border-radius: 0.3613rem;
	border-color : #64a246;
	height: calc(100% - 0.0214rem);
	letter-spacing: 0.3rem;
}