@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

.container {
	position: relative;
	top: calc((100% - 800px) / 2);
	height: 800px;
	width: 800px;
	margin: auto;
	text-align: center;
	/* border: 2px solid #eee;
	border-radius: 30px; */
	
}

.p1 {
	font-size: 4rem;
	font-weight: 700;
	font-family: Pretendard, 'Source Sans Pro';
}

.p2 {
	font-size: 1.5rem;
	color: #7a7a7a;
	font-weight: 600;
	font-family: Pretendard, 'Source Sans Pro';
}

.p3 {
	margin-left: 22rem;
    font-size: 1.5rem;
    color: #7a7a7a;
    font-weight: 600;
    font-family: Pretendard, 'Source Sans Pro';
    width: 7rem;
    border: 2px solid #64A346;
    border-radius: 30px;
    cursor: pointer;
}

.logo_img {
	width: 250px;
	height: 300px;
}