@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}



html {
	font-size:62.5%;
	zoom: 0.67;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
.warn_text {
 	/* 占쎈�볩옙�뮞占쎈뱜 占쎈툧癰귣똻�뵠野껓옙 占쎄퐬占쎌젟 */
    visibility: hidden;

	/* 占쎈�볩옙�뮞占쎈뱜 占쎄쾿疫뀐옙, �뤃�벀由�, 占쎄퉳 占쎄퐬占쎌젟 */
    font-size: 17px;
    font-weight: 700;
    color: #EF4444;
    /* 占쎈�볩옙�뮞占쎈뱜 占쎌맄, 占쎈툡占쎌삋占쎈퓠 占쎈연獄쏉옙 占쎄퐬占쎌젟 */
    margin-top : 1rem;
    margin-bottom: 1rem;
  }
/* body {
  width: 144rem;
} */.mainpage--2jF {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.mainpage--2jF .group {
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}


.mainpage--2jF .item--fjb {
  margin: 0rem 72.4rem 13.8rem 0rem;
  padding-top: 10rem;
  font-size: 4.0931rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.4093rem;
  color: #3d3d3d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mainpage--2jF .item--kFF {
  margin: 0rem 0.022rem 3.9rem 0rem;
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.13rem;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mainpage--2jF .item--Qah {
  max-width: 100rem;
  text-align: center;
  font-size: 2.4559rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.mainpage--2jF .auto-group-43ch-Zc1 {
  box-sizing: border-box;
  padding: 8.8rem 26.2rem 53rem 26.2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mainpage--2jF .auto-group-43ch-Zc1 .auto-group-nycr-5aM {
  margin-bottom: 8.507rem;
  box-sizing: border-box;
  padding: 7.369rem 6.321rem 10.047rem 6.319rem;
  width: 100%;
  height: 29.1rem;
  background-color: #f6f6f6;
  border-radius: 1.4884rem;
  flex-shrink: 0;
}
.mainpage--2jF .auto-group-43ch-Zc1 .auto-group-nycr-5aM .formmail-bYh {
  box-sizing: border-box;
  padding: 0.534rem 0rem 0rem 0rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.5209rem;
}
.mainpage--2jF .auto-group-43ch-Zc1 .auto-group-nycr-5aM .formmail-bYh .item--Xx9 {
  margin-bottom: 1.2036rem;
  width: 100%;
 /*  align-items: center;
  justify-content: center; */
  font-size: 2.4559rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mainpage--2jF .auto-group-43ch-Zc1 .auto-group-nycr-5aM .formmail-bYh .group-98-SpD {
  box-sizing: border-box;
  padding: 1.973rem 4.161rem 1.973rem 4.161rem;
  width: 100%;
  border : 1.5px solid;
  display: flex;
  font-size: 2.2661rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-92-Y2H.png');
  border-radius: 0.5209rem;
  flex-shrink: 0;
}
.mainpage--2jF .auto-group-43ch-Zc1 .group-99-HK3 {
  margin-left: 62.2272rem;
  width: 27.3123rem;
  height: 8.1863rem;
  text-align: center;
  font-size: 2.828rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #f6f6f6;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: solid 0.0744rem #64a246; */
  box-sizing: border-box;
  background-color: #a2a2a3;
  border-radius: 0.3721rem;
  flex-shrink: 0;
}
