html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

body {
	/*width: 144rem;*/
	
}

.body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mainpage--869 {
	width: 100%;
	overflow: hidden;
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

.mainpage--869 .auto-group-wh8h-Ezy {
	box-sizing: border-box;
	padding: 1.8rem 0rem 21.5rem 0rem;
	width: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-wnzb-ZnM {
	margin: 0rem 141.6rem 18.2rem 0rem;
	width: 2.4rem;
	height: 2.4rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .item--61b {
	margin: 15rem 1.01rem 7.7rem 0rem;
	text-align: center;
	font-size: 4.1721rem;
	font-weight: 700;
	line-height: 1.2575;
	letter-spacing: 0.4172rem;
	color: #3d3d3d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
	justify-content: center;
	position: relative;
	align-items: center;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V {
	margin: 0rem 25rem 0rem 25rem;
	width: calc(100% - 50.7rem);
	height: 120rem;
	position: relative;
	background-color: #f6f6f6;
	border-radius: 1.5171rem;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .fd_white {
	width: 100rem;
	height: 200rem;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	object-fit: contain;
	vertical-align: top;
	border-radius: 0.531rem;
	justify-content: center;
	align-items: center;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s
	{
	width: 59.8485rem;
	height: 47.7382rem;
	position: absolute;
	left: 50%;
	top: 35%;
	transform: translate(-50%, -50%);
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .item--HEV
	{
	width: 7.1rem;
	height: 3.2rem;
	position: absolute;
	left: 2.0481rem;
	top: 0;
	font-size: 2.5033rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #686868;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .line-25-y7K
	{
	width: 59.09rem;
	height: 0.0759rem;
	position: absolute;
	left: 0.7585rem;
	top: 4.4009rem;
	background-color: #d9d9d9;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-110-Hth
	{
	width: 20.0085rem;
	height: 2.3rem;
	position: absolute;
	left: 1.8205rem;
	top: 10.9992rem;
	display: flex;
	align-items: center;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-110-Hth .item--25b
	{
	margin-right: 13.0085rem;
	font-size: 1.8206rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #686868;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-110-Hth .item--wyF
	{
	margin-bottom: 0.0966rem;
	font-size: 1.5171rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #2d2d2d;
	font-family: Inter, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-111-gA9
	{
	width: 18.2085rem;
	height: 2.3rem;
	position: absolute;
	left: 1.8205rem;
	top: 15.2472rem;
	display: flex;
	align-items: flex-start;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-111-gA9 .item--DQy
	{
	margin: 0rem 10.009rem 0rem 0rem;
	font-size: 1.8206rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #686868;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-111-gA9 .item--KD7
	{
	font-size: 1.5171rem;
	font-weight: 500;
	line-height: 1.2125;
	color: #2d2d2d;
	font-family: Inter, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-FsT
	{
	width: 22.6085rem;
	height: 2.3rem;
	position: absolute;
	left: 1.8205rem;
	top: 6.7512rem;
	display: flex;
	align-items: center;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-FsT .item--o8H
	{
	margin-right: 13.0085rem;
	font-size: 1.8206rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #686868;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-FsT .item--K6d
	{
	margin-bottom: 0.0966rem;
	font-size: 1.5171rem;
	font-weight: 700;
	line-height: 1.2125;
	color: #2d2d2d;
	font-family: Inter, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .item--EUV
	{
	width: 8.6rem;
	height: 3.2rem;
	position: absolute;
	left: 1.2895rem;
	top: 28.067rem;
	font-size: 2.5033rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #686868;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .line-25-XyP
	{
	width: 59.09rem;
	height: 0.0759rem;
	position: absolute;
	left: 0;
	top: 32.6184rem;
	background-color: #d9d9d9;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-UNq
	{
	width: 44.6019rem;
	height: 2.3rem;
	position: absolute;
	left: 1.5929rem;
	top: 36.0319rem;
	display: flex;
	align-items: center;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-UNq .item--DLR
	{
	margin-right: 27.4019rem;
	font-size: 1.8206rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #686868;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-UNq .item-10000--Xc1
	{
	margin-bottom: 0.0966rem;
	text-align: right;
	font-size: 1.5171rem;
	font-weight: 700;
	line-height: 1.2125;
	color: #686868;
	font-family: Inter, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-dQ9
	{
	width: 44.6019rem;
	height: 2.3rem;
	position: absolute;
	left: 1.5929rem;
	top: 40.735rem;
	display: flex;
	align-items: center;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-dQ9 .item--kzZ
	{
	margin-right: 35.5019rem;
	font-size: 1.8206rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #686868;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-dQ9 .item-1-sJV
	{
	margin-bottom: 0.0966rem;
	text-align: right;
	font-size: 1.5171rem;
	font-weight: 700;
	line-height: 1.2125;
	color: #686868;
	font-family: Inter, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-zP7
	{
	width: 44.6019rem;
	height: 2.3rem;
	position: absolute;
	left: 1.5929rem;
	top: 45.4382rem;
	display: flex;
	align-items: center;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-zP7 .item--8VK
	{
	margin-right: 30.3019rem;
	font-size: 1.8206rem;
	font-weight: 800;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Abhaya Libre ExtraBold, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-118-A9s .group-101-zP7 .item-10000--rw7
	{
	margin-bottom: 0.0966rem;
	text-align: right;
	font-size: 1.5171rem;
	font-weight: 700;
	line-height: 1.2125;
	color: #2d2d2d;
	font-family: Inter, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .group-120-aMK
	{
	width: 52.4149rem;
	height: 7.0547rem;
	position: absolute;
	left: 50%;
	top: calc(83.9rem + 16rem);
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 2.5033rem;
	font-weight: 800;
	line-height: 1.2125;
	color: #ffffff;
	font-family: Inter, 'Source Sans Pro';
	white-space: nowrap;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b7b7b7;
	border-radius: 0.531rem;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .checkbox-pmT {
	width: 59.1rem;
	height: 14rem; /* Adjusted height */
	position: absolute;
	left: 50%;
	top: calc(50% + 47.7382rem - 25rem);
	transform: translate(-50%, -50%);
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .checkbox-pmT .auto-group-h2nh-jNd
	{
	margin: 0rem 25.6rem 1.395rem 1.8rem;
	width: calc(100% - 27.4rem);
	display: flex;
	align-items: flex-end;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .checkbox-pmT .auto-group-h2nh-jNd .checkbox1
	{
	margin: 0rem 1.2rem 0.1rem 0rem;
	width: 2.4rem;
	height: 2.4rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .checkbox-pmT .auto-group-h2nh-jNd .item--wjb
	{
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

/* .mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .checkbox-pmT .line-54-rrZ
	{
	width: 100%;
	height: 0.1rem;
	background-color: #d9d9d9;
} */

/* .mainpage--869 .auto-group-wh8h-Ezy .auto-group-u5ho-Y8V .checkbox-pmT .auto-group-ziz3-cKw
	{
	box-sizing: border-box;
	padding: 2.405rem 1.8rem 0rem 1.8rem;
	width: 100%;
	display: flex;
	flex-direction: column;
} */
