@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}

/* body {
	width: 144rem; 
} */
.mypage--Se9 {
	width: 100%;
	overflow: hidden;
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

.mypage--Se9 .item--ydo {
	margin-bottom: 5.1rem;
	padding-right: 54rem;
	font-size: 2.443rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--Se9 .fundinglistheader-H8h {
	/* margin: 0rem 0rem 0rem 12rem; */
	/* width: calc(100% - 10rem); */
	column-gap: 5rem;
	display: flex;
	align-items: center;
	/* width: 100%; */
}

.mypage--Se9 .fundinglistheader-H8h .item--CmT {
	margin-left: 7rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #686868;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglistheader-H8h .item--ufs {
	/* margin-left: 4rem; */
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #686868;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglistheader-H8h .item--DwT {
	/* margin-left: 5rem; */
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #686868;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglistheader-H8h .item--juo {
	/* margin-left: 3rem; */
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #686868;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglistheader-H8h .item--E5s {
	/* margin-left: 4.5rem; */
	text-align: center;
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #686868;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglist1-giZ {
	column-gap: 4.5rem;
	margin: 2rem 0rem 2rem 0rem;
	box-sizing: border-box;
	padding: 0rem 0rem 0rem 5rem;
	width: 99%;
	height: 12rem;
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	border-radius: 0.868rem;
	box-shadow: 0.1rem 0.1rem 0.4rem rgba(0, 0, 0, 0.25);
}

.mypage--Se9 .fundinglist1-giZ .tomatoes-55667411280-5Eu {
	margin-left: 1rem;
	width: 9rem;
	height: 9rem;
	position: relative;
	background-size: 137.374% 100%;
	background-position: -2.039rem 0rem;
	/* background-image: url('../assets/tomatoes.png'); */
	border-radius: 5rem;
	flex-shrink: 0;
	cursor: pointer;
}

.mypage--Se9 .fundinglist1-giZ .fundinginfo-B9X {
	/* margin: 0rem 5rem 0rem 0rem; */
	/* height: calc(100% - 0.3551rem); */
	display: flex;
	align-items: center;
	flex-shrink: 0;
	flex-basis: 80px;
}

.mypage--Se9 .fundinglist1-giZ .fundinginfo-B9X .auto-group-anxd-tCM {
	margin: 0.9rem 0rem 0.845rem 0rem;
	width: 8.7rem;
	height: calc(100% - 1.7449rem);
	flex-shrink: 0;
}

.mypage--Se9 .fundinglist1-giZ .fundinginfo-B9X .auto-group-anxd-tCM .item--aqs
	{
	margin-bottom: 0.4rem;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: normal;
    width: 120px;
}

.mypage--Se9 .fundinglist1-giZ .fundinginfo-B9X .auto-group-anxd-tCM .item--UwF
	{
	margin-bottom: 0.6333rem;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: normal;
}

.mypage--Se9 .fundinglist1-giZ .fundinginfo-B9X .auto-group-anxd-tCM .auto-group-huhf-zPo
	{
	/* margin: 0rem 4.1rem 0rem 0rem; */
	width: calc(100% - 4.4333rem);
	display: flex;
	align-items: flex-start;
}

.mypage--Se9 .fundinglist1-giZ .fundinginfo-B9X .auto-group-anxd-tCM .auto-group-huhf-zPo .mdi-location-v2Z
	{
	margin-right: 0.5rem;
	width: 1rem;
	height: 1.3rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglist1-giZ .fundinginfo-B9X .auto-group-anxd-tCM .auto-group-huhf-zPo .item--3cy
	{
	margin-top: 0.0667rem;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglist1-giZ .auctiondeadlinegroup-Nj7 {
	/* margin: 2.2rem 7.4rem 2.445rem 0rem;
	height: calc(100% - 4.6449rem); */
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-basis: 80px;
}

.mypage--Se9 .fundinglist1-giZ .auctiondeadlinegroup-Nj7 .auctionremaining-VYq
	{
	margin-bottom: 0.1rem;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #5c913b;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglist1-giZ .auctiondeadlinegroup-Nj7 .auctiondeadline-pr1
	{
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #a7a7a7;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--Se9 .fundinglist1-giZ .fundingpay-7WM {
	/* margin: 0rem 5rem 0rem 0rem; */
	flex-basis: 90px;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
	flex-basis: 80px;
	text-align: center;
}

.mypage--Se9 .fundinglist1-giZ .fundingstate-MQh {
	/* margin: 2.8rem 0; */
	width: 8rem;
	/* height: calc(100% - 5.6rem); */
	height: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	color: rgba(248, 248, 248, 0.9725490212);
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	background-color: #92cb76;
	border-radius: 0.8rem;
	flex-shrink: 0;
	display: flex;
	flex-basis: 80px;
	text-align: center;
}

.mypage--Se9 .fundinglist1-giZ .item--KJD {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	letter-spacing: 0.096rem;
	color: #64a246;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
	background-color: #c7efb4;
	border-radius: 0.8rem;
	width: 8rem;
	height: 3rem;
}

.mypage--Se9 .fundinglist1-giZ .item--KJD.failure {
	background-color: #FDE8E8; 
	color: #F4440C;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  margin-left: 100rem; 
  z-index: 99;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #686868;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #92cb76;
}