@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

/* html, body {
	margin: auto;
	padding: auto;
	height: 100%;
	overflow: hidden;
	background-color: #eee;
} */

/* .fundingupdatedetail {
	position: relative;
	width: 70rem;
	height: 45rem;
	top: calc(( 100% - 45rem)/2); 위, 아래 정렬
	margin: auto; 오른쪽, 왼쪽 정렬
	background-color: #f2f2f2;
	box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
	border-radius: 30px;
} */

.show_more_outer {
	margin-bottom: 0.3rem;
	flex-direction: column;
    display: flex;
	padding-bottom: 2rem;
    border-radius: 1rem;
	box-shadow: 0rem 0.3rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
    width: 100%;
    background-color: #eee;
}
.accordion {
	cursor: pointer;
	padding: 18px; 
	/* width: 63%;  */
	text-align: left;
	border: none;
	outline: none;
}
.button-align {	
	margin-bottom: 1rem;
    display: inline-flex;
    align-items: baseline;
    transition: 0.4s;
}
.panel {
	padding: 10px 10px 10px 15px;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
    position: relative;
    left: 2.5rem;
	background-color: #bedab1;
	border-radius: 1rem;
	margin-bottom: 8px;
	display: none;
	flex-direction: column;
	box-sizing: border-box;
    width: 94%;
}

.panel-align {
	
}
.is-open {
	max-height: 100vh;
}

.update1icon {
	margin-right: 1rem;
	width: 1.8rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #515151;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('/assets/ellipse-33.png');
}

.update1item1 {
	margin: 0rem 1.2rem 0rem 0rem;
	display: flex;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2c2c2c;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.auto-group-hs7j-Q45 {
	margin: 1rem 0rem 1rem 0rem;
	display: flex;
	height: 1.5rem;
}

.item--X8h {
	margin-right: 1.2rem;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #f6f6f6;
	white-space: nowrap;
	font-family: Pretendard, 'Source Sans Pro';
}

.item--SmT {
	margin-top: 0.1rem;
	display: flex;
    font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.2575;
	color: #7a7a7a;
	white-space: nowrap;
	flex-shrink: 0;
	font-family: Pretendard, 'Source Sans Pro';
}

.auto-group-3qdt-9A5 {
	display: flex;
	align-items: flex-start;
	margin: 1rem 0rem;
	width: 100%;
}

.wheat-18458351280-gfo {
	margin: 0rem 1.5rem 0rem 0rem;
	width: 9rem;
	height: 9rem;
	position: relative;
	background-size: 137.135% 100%;
	background-position: -1.7534rem 0rem;
	border-radius: 0.4871rem;
	border: solid 1px white;
}

.auto-group-hkbx-LkM {
	width: 79%;
    margin-left: 1rem;
}

.auto-group-6tox-hL1 {
	margin: 0rem 0rem 0.5rem 0rem;
	display: flex;
    align-items: baseline;
	font-family: Pretendard, 'Source Sans Pro';
}

.optional-opinion-tit {
	font-family: Pretendard, 'Source Sans Pro';
	color: #f6f6f6;
	font-size: 1.3rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}
.optional-opinion-val {
	font-family: Pretendard, 'Source Sans Pro';
	font-size: 1.3rem;
	font-weight: 600;
	color: #717f35;
	
}
.item--E53 {
	margin-right: 1.2rem;
	display: flex;
	font-size: 1.3rem;
    font-weight: 400;
	line-height: 1.2575;
	color: #f6f6f6;
	white-space: nowrap;
	flex-shrink: 0;
	font-family: Pretendard, 'Source Sans Pro';
}

.fertil-tit {
	margin-right: 1rem;
	display: flex;
	font-size: 1.3rem;
    font-weight: 400;
	line-height: 1.2575;
	color: #f6f6f6;
	white-space: nowrap;
	flex-shrink: 0;
	font-family: Pretendard, 'Source Sans Pro';
}

.item-20230915-7uX
	{
	display: flex;
	font-size: 1rem;
    font-weight: 300;
	line-height: 1.2575;
	color: #ffffff;
	white-space: nowrap;
	flex-shrink: 0;
	font-family: Pretendard, 'Source Sans Pro';
	margin-right: 2.5rem;
}

.fertil-name, .fertil-amount 
	{
	display: flex;
	font-size: 1rem;
    font-weight: 300;
	line-height: 1.2575;
	color: #ffffff;
	white-space: nowrap;
	flex-shrink: 0;
	font-family: Pretendard, 'Source Sans Pro';
	margin-right: 0.5rem;
}

.item--pow {
    width: fit-content;
	display: flex;
	font-size: 1.3rem;
	font-weight: 600;
	color: #717f35;
	white-space: nowrap;
	font-family: Pretendard, 'Source Sans Pro';
	margin-bottom: 1rem;
}