@charset "UTF-8";

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	/* background-color: #eee; */
}

 .fundingupdatedetail {
	position: relative;
	width: 90rem;
	height: 45rem;
	top: calc((100% - 45rem) / 2); /* 위, 아래 정렬 */
	margin: auto; /* 오른쪽, 왼쪽 정렬 */
	background-color: #f2f2f2;
	box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	
}

.fundingupdatedetail .line {
	position: relative;
	display: flex;
	height: 100%;
	width: 0.15rem;
	left: 10rem;
	background-color: #D8D8D8;
	z-index: 1;
} 

/* 경작 준비중 */
.fundingupdatedetail .update1 {
	width: 10rem;
    height: 1.85rem;
    /* margin: -40rem 0rem 3rem 9.2rem; */
    bottom: 40rem;
    left: 9.2rem;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.fundingupdatedetail .update1 .update1icon{
	margin-right: 1rem;
	width: 1.8rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #7a7a7a;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../assets/ellipse-33.png');
	flex-shrink: 0;
}

.fundingupdatedetail .update1 .update1item1 {
	margin: 0rem 1.2rem 0rem 0rem;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #7a7a7a;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .update1 .update1item2 {
	margin-top: 0.1016rem;
	display: flex;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #a2a2a3;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH {
	box-sizing: border-box;
	padding: 1rem 1rem 1rem 1rem;
	width: 70rem;
	height: 30%;
	background-color: #bedab1;
	border-radius: 0.9rem;
	flex-shrink: 0;
	position: absolute;
	margin: -39rem 0rem 0rem 15rem;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-hs7j-Q45
	{
	margin: 0rem 0rem 0.8rem 0rem;
    /* width: calc(100% - 62.4rem); */
    display: flex;
    /* align-items: center; */
    height: 1.5rem;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-hs7j-Q45 .item--X8h
	{
	margin-right: 1.2rem;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #f6f6f6;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-hs7j-Q45 .item--SmT
	{
	margin-top: 0.1rem;
	display: flex;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #ffffff;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-3qdt-9A5
	{
	/* margin-right: 41.3rem;
    width: calc(100% - 41.3rem); */
    /* margin-top: 2.2rem;
    margin-left: -14rem; */
    display: flex;
    align-items: flex-start;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-3qdt-9A5 .wheat-18458351280-gfo
	{
	margin: 0rem 1.5rem 0rem 0rem;
    width: 11rem;
    height: 9rem;
    position: relative;
    background-size: 137.135% 100%;
    background-position: -1.7534rem 0rem;
    /* background-image: url(../assets/wheat-18458351280.png); */
    border-radius: 0.4871rem;
    flex-shrink: 0;
}


.fundingupdatedetail .updatedetail-fcH .auto-group-3qdt-9A5 .auto-group-hkbx-LkM
	{
	width: 30rem;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-3qdt-9A5 .auto-group-hkbx-LkM .auto-group-6tox-hL1
	{
	margin: 0rem 0rem 1rem 0rem;
    /* width: calc(100% - 9.5rem); */
    display: flex;
    align-items: center;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-3qdt-9A5 .auto-group-hkbx-LkM .auto-group-6tox-hL1 .item--E53
	{
	margin-right: 1.2rem;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #f6f6f6;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-3qdt-9A5 .auto-group-hkbx-LkM .auto-group-6tox-hL1 .item-20230915-7uX
	{
	/* margin-top: 0.1013rem; */
	display: flex;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #ffffff;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH .auto-group-3qdt-9A5 .auto-group-hkbx-LkM .item--pow
	{
	display: flex;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #717f35;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}


/* 경작 중 */
.fundingupdatedetail .update2 {
	width: 10rem;
    height: 1.85rem;
    /* margin: -40rem 0rem 3rem 9.2rem; */
    bottom: 24rem;
    left: 9.2rem;
    display: flex;
    position: relative;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.fundingupdatedetail .update2 .update2icon{
	margin-right: 1rem;
	width: 1.8rem;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #7a7a7a;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../assets/ellipse-33.png');
	flex-shrink: 0;
}

.fundingupdatedetail .update2 .update2item1 {
	margin: 0rem 1.2rem 0rem 0rem;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #7a7a7a;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .update2 .update2item2 {
	margin-top: 0.1016rem;
	display: flex;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #a2a2a3;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH2 {
	box-sizing: border-box;
	padding: 1rem 1rem 1rem 1rem;
	width: 70rem;
	height: 30%;
	background-color: #bedab1;
	border-radius: 0.9rem;
	flex-shrink: 0;
	position: absolute;
	/* display: none; */
	margin: -23rem 0rem 0rem 15rem;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-hs7j-Q452
	{
	margin: 0rem 0rem 0.8rem 0rem;
	/* width: calc(100% - 62.4rem); */
	display: flex;
	align-items: center;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-hs7j-Q452 .item--X8h2
	{
	margin-right: 1.2rem;
	display: flex;
	font-size: 1.2rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #f6f6f6;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-hs7j-Q452 .item--SmT2
	{
	/* margin-top: 0.1016rem; */
	display: flex;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #ffffff;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-3qdt-9A52
	{
	margin-right: 41.3rem;
    width: calc(100% - 41.3rem);
    display: flex;
    align-items: flex-start;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-3qdt-9A52 .wheat-18458351280-gfo2
	{
	margin: 0rem 1.5rem 0rem 0rem;
    width: 11rem;
    height: 9rem;
    position: relative;
    background-size: 137.135% 100%;
    background-position: -1.7534rem 0rem;
    background-image: url(../assets/wheat-18458351280.png);
    border-radius: 0.4871rem;
    flex-shrink: 0;
}


.fundingupdatedetail .updatedetail-fcH2 .auto-group-3qdt-9A52 .auto-group-hkbx-LkM2
	{
	width: 30rem;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-3qdt-9A52 .auto-group-hkbx-LkM2 .auto-group-6tox-hL12
	{
	margin: 0rem 0rem 1rem 0rem;
    /* width: calc(100% - 9.5rem); */
    display: flex;
    align-items: center;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-3qdt-9A52 .auto-group-hkbx-LkM2 .auto-group-6tox-hL12 .item--E532
	{
	margin-right: 1.2rem;
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #f6f6f6;
    font-family: Pretendard, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-3qdt-9A52 .auto-group-hkbx-LkM2 .auto-group-6tox-hL12 .item-20230915-7uX2
	{
	/* margin-top: 0.1013rem; */
	display: flex;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #ffffff;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.fundingupdatedetail .updatedetail-fcH2 .auto-group-3qdt-9A52 .auto-group-hkbx-LkM2 .item--pow2
	{
	display: flex;
	font-size: 0.8rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #717f35;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

