@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

html {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

input {
	border: none;
}
button:hover {
	cursor: pointer;
}
.mypage--ro7 {
	zoom: 1.02;
	width: 100%;
	overflow: hidden;
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
}

.mypage--ro7  .auctionform-YHj {
	width: 100%;
	height: 89.9rem;
	position: relative;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-d797-4G5 {
	box-sizing: border-box;
	padding-bottom: 1.8rem;
	width: 85.5rem;
	height: 7.9rem;
	position: absolute;
	left: 0;
	top: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-d797-4G5 .item--z9j {
	margin-bottom: 0.7rem;
	font-size: 2.443rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--ro7  .auctionform-YHj .auto-group-d797-4G5 .item--tF7 {
	display: flex;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd {
	width: 27.2978rem;
	height: 7.6449rem;
	position: absolute;
	left: 1.6rem;
	top: 10.5rem;
	display: flex;
	align-items: flex-start;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 {
	margin-right: 4.2rem;
	height: 100%;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 .tomatoes-55667411280-qpZ
	{
	margin-right: 2.1rem;
	width: 8.4rem;
	height: 7.6449rem;
	position: relative;
	background-size: 137.374% 100%;
	background-position: -2.039rem 0rem;
	border-radius: 3.8224rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 .auto-group-cp41-hLy
	{
	margin: 0.9rem 0rem 0.845rem 0rem;
	width: 8.5rem;
	height: calc(100% - 1.7449rem);
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 .auto-group-cp41-hLy .item--QmB
	{
	margin-bottom: 0.4rem;
	font-size: 1.4rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 .auto-group-cp41-hLy .item--vUd
	{
	margin-bottom: 0.6333rem;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 .auto-group-cp41-hLy .auto-group-vkim-efX
	{
	margin: 0rem 3.9rem 0rem 0.333rem;
	width: calc(100% - 4.2333rem);
	display: flex;
	align-items: flex-start;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 .auto-group-cp41-hLy .auto-group-vkim-efX .mdi-location-BQZ
	{
	margin-right: 0.3333rem;
	width: 0.9333rem;
	height: 1.3333rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundinginfo-Ho3 .auto-group-cp41-hLy .auto-group-vkim-efX .item--rmb
	{
	margin-top: 0.0667rem;
	font-size: 1.1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .projectinfo-ACd .fundingstate-B3B {
	margin-top: 1.1rem;
	width: 4.0978rem;
	height: 1.2244rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.6279rem;
	font-weight: 700;
	line-height: 1.2575;
	letter-spacing: 0.0628rem;
	color: rgba(248, 248, 248, 0.9725490212);
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	background-color: #92cb76;
	border-radius: 1.7442rem;
	box-shadow: 0.1395rem 0.1395rem 0.2791rem rgba(0, 0, 0, 0.25);
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .line-66-Pf3 {
	width: 85.5rem;
	height: 0.129rem;
	position: absolute;
	left: 0;
	top: 7.9rem;
	background-color: #e8e8e8;
}

.mypage--ro7  .auctionform-YHj .line-67-vQ5 {
	width: 85.5rem;
	height: 0.1rem;
	position: absolute;
	left: 0;
	top: 20.9rem;
	background-color: #e8e8e8;
}

.mypage--ro7  .auctionform-YHj .line-68-s4R {
	width: 85.5rem;
	height: 0.1rem;
	position: absolute;
	left: 0;
	top: 82.6rem;
	background-color: #e8e8e8;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 {
	box-sizing: border-box;
	padding: 2.7rem 0.7rem 6.1rem 0.7rem;
	width: 85.5rem;
	height: 61.6rem;
	position: absolute;
	left: 0;
	top: 21rem;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y
	{
	margin: 0rem 40.292rem 2.792rem 0rem;
	width: calc(100% - 40.292rem);
	height: 9.208rem;
	display: flex;
	align-items: flex-start;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y .auctionthubimageleft-eDb
	{
	margin-right: 13rem;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y .auctionthubimageleft-eDb .item--nah
	{
	margin-bottom: 0.4rem;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y .auctionthubimageleft-eDb .item--77B
	{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y .imageupload-LVj
	{
	box-sizing: border-box;
	padding: 3.089rem 6.297rem 2.965rem 6.337rem;
	width: 15.208rem;
	height: 100%;
	border: solid 0.0594rem #d9d9d9;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 0.1782rem;
	flex-shrink: 0;
	background-position: center center;
    background-size: cover;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y .imageupload-LVj .imageuploadicon-GeH
	{
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y .imageupload-LVj .imageuploadicon-GeH .vector-1Ly
	{
	margin-bottom: 0.3762rem;
	width: 2.5743rem;
	height: 2.2772rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionthubimage-X8y .imageupload-LVj .imageuploadicon-GeH .item--YLu
	{
	margin-right: 0.0395rem;
	text-align: center;
	font-size: 0.396rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #d2d2d2;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP {
	height: 17rem;
	display: flex;
	align-items: flex-start;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auctionimageleft-jAV
	{
	margin-right: 7.3rem;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auctionimageleft-jAV .item--gbX
	{
	margin-bottom: 0.4rem;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auctionimageleft-jAV .item-5--bTb
	{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh
	{
	margin-right: 0.792rem;
	width: 15.208rem;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-WDB
	{
	margin-bottom: 0.892rem;
	box-sizing: border-box;
	padding: 3.089rem 6.297rem 2.965rem 6.337rem;
	width: 100%;
	height: 9.208rem;
	border: solid 0.0594rem #d9d9d9;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 0.1782rem;
	flex-shrink: 0;
	background-position: center center;
    background-size: cover;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-WDB .imageuploadicon-pjf
	{
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-WDB .imageuploadicon-pjf .vector-z8M
	{
	margin-bottom: 0.3762rem;
	width: 2.5743rem;
	height: 2.2772rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-WDB .imageuploadicon-pjf .item--KwK
	{
	margin-right: 0.0395rem;
	text-align: center;
	font-size: 0.396rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #d2d2d2;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-k13
	{
	box-sizing: border-box;
	padding: 3.089rem 6.297rem 2.965rem 6.337rem;
	width: 100%;
	height: 9.208rem;
	border: solid 0.0594rem #d9d9d9;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 0.1782rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-k13 .imageuploadicon-rJy
	{
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-k13 .imageuploadicon-rJy .vector-DQR
	{
	margin-bottom: 0.3762rem;
	width: 2.5743rem;
	height: 2.2772rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-lyxf-kzh .imageupload-k13 .imageuploadicon-rJy .item--wLR
	{
	margin-right: 0.0395rem;
	text-align: center;
	font-size: 0.396rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #d2d2d2;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33
	{
	margin-right: 0.792rem;
	width: 15.208rem;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-wjj
	{
	margin-bottom: 0.892rem;
	box-sizing: border-box;
	padding: 3.089rem 6.297rem 2.965rem 6.337rem;
	width: 100%;
	height: 9.208rem;
	border: solid 0.0594rem #d9d9d9;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 0.1782rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-wjj .imageuploadicon-dsT
	{
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-wjj .imageuploadicon-dsT .vector-PLq
	{
	margin-bottom: 0.3762rem;
	width: 2.5743rem;
	height: 2.2772rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-wjj .imageuploadicon-dsT .item--LG5
	{
	margin-right: 0.0395rem;
	text-align: center;
	font-size: 0.396rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #d2d2d2;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-QFw
	{
	box-sizing: border-box;
	padding: 3.089rem 6.297rem 2.965rem 6.337rem;
	width: 100%;
	height: 9.208rem;
	border: solid 0.0594rem #d9d9d9;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 0.1782rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-QFw .imageuploadicon-Y7F
	{
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-QFw .imageuploadicon-Y7F .vector-6Pf
	{
	margin-bottom: 0.3762rem;
	width: 2.5743rem;
	height: 2.2772rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .auto-group-c2sr-D33 .imageupload-QFw .imageuploadicon-Y7F .item--pKf
	{
	margin-right: 0.0395rem;
	text-align: center;
	font-size: 0.396rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #d2d2d2;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .imageupload-HDF
	{
	margin-top: 0.1rem;
	box-sizing: border-box;
	padding: 3.089rem 6.297rem 2.965rem 6.337rem;
	width: 15.208rem;
	height: 9.208rem;
	border: solid 0.0594rem #d9d9d9;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 0.1782rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .imageupload-HDF .imageuploadicon-CLD
	{
	width: 100%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .imageupload-HDF .imageuploadicon-CLD .vector-xKP
	{
	margin-bottom: 0.3762rem;
	width: 2.5743rem;
	height: 2.2772rem;
	object-fit: contain;
	vertical-align: top;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionimage-aoP .imageupload-HDF .imageuploadicon-CLD .item--7CH
	{
	margin-right: 0.0395rem;
	text-align: center;
	font-size: 0.396rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #d2d2d2;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionamount-z1B {
	margin: 0rem 28.9rem 2.8rem 0rem;
	width: calc(100% - 28.9rem);
	height: 4.2rem;
	display: flex;
	align-items: flex-start;
	border-radius: 1rem;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionamount-z1B .auctionamountleft-uP3
	{
	margin-right: 19.5rem;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionamount-z1B .auctionamountleft-uP3 .item--4Fw
	{
	margin-bottom: 0.2rem;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionamount-z1B .auctionamountleft-uP3 .item--mg9
	{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionamount-z1B .group-185-UqT
	{
	box-sizing: border-box;
	padding-right: 0.8rem;
	height: 100%;
	display: flex;
	align-items: center;
	border-radius: 1rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionamount-z1B .group-185-UqT .rectangle-195-dTT
	{
	margin-right: 1.5rem;
	width: 22.6rem;
	height: 4.2rem;
	border: solid 0.1rem #d9d9d9;
	box-sizing: border-box;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 1rem;
	flex-shrink: 0;
	padding: 1rem 0.5rem 1rem 1rem;
	text-align: right;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionamount-z1B .group-185-UqT .kg-izh
	{
	margin-top: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #979797;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionprice-e7f {
	margin: 0rem 28.9rem 2.6rem 0rem;
	width: calc(100% - 28.9rem);
	height: 4.9rem;
	display: flex;
	align-items: flex-start;
	border-radius: 1rem;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionprice-e7f .auctionpriceleft-yQq
	{
	margin-right: 6.5rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionprice-e7f .auctionpriceleft-yQq .item--8Hj
	{
	margin-bottom: 0.2rem;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionprice-e7f .auctionpriceleft-yQq .item--G93
	{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionprice-e7f .group-185-tRK
	{
	margin-bottom: 0.7rem;
	box-sizing: border-box;
	padding-right: 1.2rem;
	display: flex;
	align-items: center;
	border-radius: 1rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionprice-e7f .group-185-tRK .rectangle-195-SBw
	{
	margin-right: 1.9rem;
	width: 22.6rem;
	height: 4.2rem;
	border: solid 0.1rem #d9d9d9;
	box-sizing: border-box;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 1rem;
	flex-shrink: 0;
	padding: 1rem 0.5rem 1rem 1rem;
	text-align: right;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctionprice-e7f .group-185-tRK .p-xRB
	{
	margin-top: 0.4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #979797;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctiondeadline-Gwf
	{
	margin-right: 32.9rem;
	width: calc(100% - 32.9rem);
	height: 4.2rem;
	display: flex;
	align-items: flex-start;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctiondeadline-Gwf .auctionpriceleft-nv1
	{
	margin-right: 20rem;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctiondeadline-Gwf .auctionpriceleft-nv1 .item--vFX
	{
	margin-bottom: 0.2rem;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctiondeadline-Gwf .auctionpriceleft-nv1 .item--prh
	{
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctiondeadline-Gwf .group-185-ut9
	{
	box-sizing: border-box;
	padding: 1.3rem 1.3rem 1.3rem 1.3rem;
	height: 100%;
	border: solid 0.1rem #d9d9d9;
	background-color: rgba(248, 248, 248, 0.5);
	border-radius: 1rem;
	flex-shrink: 0;
}

.mypage--ro7  .auctionform-YHj .auto-group-yddf-Qq3 .auctiondeadline-Gwf .group-185-ut9 .mingcute-calendar-line-FSD
	{
	width: 1.5rem;
	height: 1.5rem;
	object-fit: contain;
	vertical-align: top;
}

.mypage--ro7  .auctionform-YHj .auctionpushbtn-YgD {
	width: 16.3rem;
	height: 4.3rem;
	position: absolute;
	left: 69.2rem;
	top: 85.6rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.8983rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #64a246;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	border: solid 0.1rem #64a246;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 0.3rem;
}

.mypage--ro7 .footer-aN1 {
	box-sizing: border-box;
	padding: 2.5rem 0rem 3.2rem 0rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: rgba(248, 248, 248, 0.9725490212);
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-bqdb-Vzm {
	margin: 0rem 0rem 1.3rem 16.2rem;
	width: 6.147rem;
	height: 5.05rem;
	position: relative;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-bqdb-Vzm .inc-RNd {
	width: 3.2rem;
	height: 1.3rem;
	position: absolute;
	left: 1.2rem;
	top: 3.75rem;
	display: flex;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #64a246;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--ro7 .footer-aN1 .auto-group-bqdb-Vzm .item--mqo {
	width: 3.1rem;
	height: 3.2rem;
	position: absolute;
	left: 3.047rem;
	top: 0.6703rem;
	font-size: 2.5031rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #2d2d2d;
	font-family: Gmarket Sans, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--ro7 .footer-aN1 .auto-group-bqdb-Vzm .image-22-Tid {
	width: 2.7183rem;
	height: 3.5344rem;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	vertical-align: top;
}

.mypage--ro7 .footer-aN1 .auto-group-bqdb-Vzm .group-147-oXb {
	width: 0.6rem;
	height: 0.7rem;
	position: absolute;
	left: 0.3rem;
	top: 4.05rem;
}

.mypage--ro7 .footer-aN1 .auto-group-bqdb-Vzm .group-147-oXb .c-LnR {
	width: 0.3rem;
	height: 0.7rem;
	position: absolute;
	left: 0.15rem;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #64a246;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
}

.mypage--ro7 .footer-aN1 .auto-group-bqdb-Vzm .group-147-oXb .ellipse-30-Eso
	{
	width: 0.6rem;
	height: 0.6rem;
	position: absolute;
	left: 0;
	top: 0.08rem;
	border: solid 0.03rem #64a246;
	box-sizing: border-box;
	border-radius: 0.3rem;
}

.mypage--ro7 .footer-aN1 .auto-group-gv5j-7gh {
	margin: 0rem 19.8rem 0.65rem 16.2rem;
	width: calc(100% - 36rem);
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-gv5j-7gh .item--FH7 {
	margin-right: 89.1rem;
	display: flex;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #64a246;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-gv5j-7gh .about-farmfarm-Y1K {
	display: flex;
	font-size: 1.6rem;
	font-weight: 700;
	line-height: 1.2575;
	color: #64a246;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-g4bw-U9s {
	margin: 0rem 26.1rem 1.784rem 16.2rem;
	width: calc(100% - 42.3rem);
	display: flex;
	align-items: flex-end;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-g4bw-U9s .item--zP7 {
	margin: 0rem 49.4rem 0.4rem 0rem;
	max-width: 45.5rem;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #868686;
	font-family: Pretendard, 'Source Sans Pro';
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-g4bw-U9s .auto-group-9zlv-fXB {
	row-gap: 0.9rem;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-g4bw-U9s .auto-group-9zlv-fXB .item--cSR
	{
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #868686;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-g4bw-U9s .auto-group-9zlv-fXB .item--LNR
	{
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #868686;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .auto-group-g4bw-U9s .auto-group-9zlv-fXB .item--gBP
	{
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #868686;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .line-51-CfX {
	margin: 0rem 0rem 2.416rem 0rem;
	width: calc(100% - 0rem);
	height: 0.1rem;
	background-color: #d9d9d9;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND {
	margin: 0rem 0rem 0.6rem 16.2rem;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #686868;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	display: flex;
	align-items: baseline;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-0
	{
	
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-1
	{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #d9d9d9;
	font-family: Pretendard, 'Source Sans Pro';
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-2
	{
	
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-3
	{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #d9d9d9;
	font-family: Pretendard, 'Source Sans Pro';
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-4
	{
	
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-5
	{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #d9d9d9;
	font-family: Pretendard, 'Source Sans Pro';
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-6
	{
	
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-7
	{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #d9d9d9;
	font-family: Pretendard, 'Source Sans Pro';
}

.mypage--ro7 .footer-aN1 .c-1153-4-77-ds-sw-4-wND .c-1153-4-77-ds-sw-4-wND-sub-8
	{
	
}

.mypage--ro7 .footer-aN1 .infofarmfarmkr-1661-1003-6Jy {
	margin-left: 16.2rem;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #686868;
	font-family: Pretendard, 'Source Sans Pro';
	white-space: nowrap;
	display: flex;
	align-items: baseline;
	flex-shrink: 0;
}

.mypage--ro7 .footer-aN1 .infofarmfarmkr-1661-1003-6Jy .infofarmfarmkr-1661-1003-6Jy-sub-0
	{
	
}

.mypage--ro7 .footer-aN1 .infofarmfarmkr-1661-1003-6Jy .infofarmfarmkr-1661-1003-6Jy-sub-1
	{
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2575;
	color: #d9d9d9;
	font-family: Pretendard, 'Source Sans Pro';
}

.mypage--ro7 .footer-aN1 .infofarmfarmkr-1661-1003-6Jy .infofarmfarmkr-1661-1003-6Jy-sub-2
	{
	
}