@charset "UTF-8";

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mypage--Sv9 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mypage--Sv9 .header-juF {
  margin-bottom: 3.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 {
  box-sizing: border-box;
  padding: 3.3rem 17.4rem 2.299rem 17.4rem;
  width: 100%;
  height: 17.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX {
  width: 22.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .auto-group-cfbj-j25 {
  margin: 0rem 12.3rem 1.8rem 0rem;
  width: calc(100% - 12.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .auto-group-cfbj-j25 .image-22-rMb {
  margin: 0rem 0.539rem 0.5rem 0rem;
  width: 4.4608rem;
  height: 5.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .auto-group-cfbj-j25 .item--ANH {
  font-size: 4.1076rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Gmarket Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .auto-group-8c6y-g5j {
  margin: 0rem 1.9rem 0.5rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .auto-group-8c6y-g5j .item--QGd {
  margin-right: 5rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #7a7a7a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .auto-group-8c6y-g5j .item--K8h {
  margin-right: 5.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #7a7a7a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .auto-group-8c6y-g5j .item--F2M {
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .auto-group-owzq-5y7 .group-144-nsX .line-24-BAu {
  width: 6.3rem;
  height: 0.0013rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .header-juF .rectangle-101-6of {
  width: 100%;
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh {
  margin: 0rem 14.998rem 4.5rem 15rem;
  width: calc(100% - 29.9984rem);
  height: 151.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo {
  margin-right: 5.1118rem;
  box-sizing: border-box;
  padding: 1.3004rem 0;
  width: 23.3882rem;
  height: 100%;
  border-right: solid 0.0882rem #d9d9d9;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms {
  width: 22.0176rem;
  height: 80.7326rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .userinfo-CER {
  margin: 0rem 1.529rem 1.823rem 0rem;
  width: 20.4887rem;
  height: 16.0572rem;
  border-bottom: solid 0.0868rem #d9d9d9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .userinfo-CER .auto-group-nmqf-B6M {
  box-sizing: border-box;
  padding: 0rem 7.206rem 1.993rem 7.206rem;
  width: 100%;
  height: 15.9704rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .userinfo-CER .auto-group-nmqf-B6M .auto-group-gpvr-tFf {
  margin: 0rem 0.26rem 1.562rem 0.26rem;
  width: calc(100% - 0.5209rem);
  height: 2.4303rem;
  text-align: center;
  font-size: 1.5616rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.0468rem;
  color: #f5f5f5;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  border-radius: 0.4338rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .userinfo-CER .auto-group-nmqf-B6M .vector-JqB {
  margin-bottom: 1.9095rem;
  width: 6.0772rem;
  height: 6.0757rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .userinfo-CER .auto-group-nmqf-B6M .item--ee9 {
  margin-right: 0rem;
  text-align: center;
  font-size: 1.5616rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.0468rem;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .logout-KEV {
  margin: 0rem 2.31rem 6.332rem 0.781rem;
  width: calc(100% - 3.0916rem);
  height: 3.2982rem;
  position: relative;
  border-radius: 1.5616rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .logout-KEV .item--dW5 {
  width: 3.2rem;
  height: 1.7rem;
  position: absolute;
  left: 8.5202rem;
  top: 0.868rem;
  text-align: right;
  font-size: 1.3014rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .logout-KEV .log-out-inR {
  width: 18.926rem;
  height: 3.2982rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.0868rem #d9d9d9;
  box-sizing: border-box;
  border-radius: 1.5616rem;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju {
  margin-bottom: 2.8985rem;
  width: 19.3158rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .item--nXP {
  margin-bottom: 2.2023rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .myfunding-VAu {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .myfunding-VAu .group-Sbw {
  margin-right: 1.3009rem;
  width: 2.5017rem;
  height: 2.5011rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .myfunding-VAu .item--BJd {
  margin: 0.1rem 8.009rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .myfunding-VAu .group-tD3 {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf {
  box-sizing: border-box;
  padding: 2.083rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .myauction-mGq {
  margin: 0rem 0.013rem 2.202rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .myauction-mGq .item--Vid {
  margin: 0rem 1.458rem 0.041rem 0rem;
  width: 2.1441rem;
  height: 2.1435rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .myauction-mGq .item--oDX {
  margin: 0.315rem 7.996rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .myauction-mGq .group-Wdj {
  margin-bottom: 0.0116rem;
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .cart-669 {
  margin-bottom: 2.0982rem;
  box-sizing: border-box;
  padding-left: 0.1663rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .cart-669 .bytesize-heart-DwT {
  margin: 0.258rem 1.441rem 0rem 0rem;
  width: 1.9948rem;
  height: 1.7649rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .cart-669 .item--LmB {
  margin: 0.296rem 9.609rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .cart-669 .group-4SH {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .chat-16d {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0rem 0.313rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .chat-16d .humbleicons-chat-YMT {
  margin: 0rem 1.514rem 0.303rem 0rem;
  width: 1.8763rem;
  height: 1.6674rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .chat-16d .item--fgy {
  margin: 0.096rem 10.709rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-activity-3Ju .auto-group-fmfk-Ryf .chat-16d .group-BQR {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os {
  margin-bottom: 2.8985rem;
  width: 19.3158rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 {
  box-sizing: border-box;
  padding: 0rem 0rem 2.298rem 0.087rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .item--BYq {
  margin-bottom: 2.1022rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .chargefarmmoney-VJd {
  margin-bottom: 2.1983rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .chargefarmmoney-VJd .ph-piggy-bank-En1 {
  margin: 0rem 1.461rem 0rem 0rem;
  width: 2.3549rem;
  height: 1.8227rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .chargefarmmoney-VJd .item--ZpH {
  margin: 0.096rem 6.809rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .chargefarmmoney-VJd .group-UgM {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .usingfarmmoney-d3T {
  margin: 0rem 0rem 0rem 0.013rem;
  box-sizing: border-box;
  padding-left: 0.3038rem;
  width: calc(100% - 0.0133rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .usingfarmmoney-d3T .iconoir-web-window-energy-consumption-LTf {
  margin: 0.026rem 1.676rem 0rem 0rem;
  width: 1.8231rem;
  height: 1.4177rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .usingfarmmoney-d3T .item--q9X {
  margin: 0.096rem 4.109rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .auto-group-6tyu-Fv5 .usingfarmmoney-d3T .group-88d {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .depositlist-feM {
  box-sizing: border-box;
  padding-left: 0.3127rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .depositlist-feM .tabler-zoom-money-Qrq {
  margin: 0.097rem 1.714rem 0rem 0rem;
  width: 1.8763rem;
  height: 1.8758rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .depositlist-feM .item--vqB {
  margin: 0.296rem 7.909rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .my-farmmoney-7os .depositlist-feM .group-eFP {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .setting-Bm7 {
  margin-right: 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .setting-Bm7 .auto-group-ncvy-9C9 {
  margin: 0rem 1.555rem 0.399rem 0rem;
  width: 2.9718rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .setting-Bm7 .auto-group-ncvy-9C9 .item--UER {
  margin-bottom: 2.1022rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .setting-Bm7 .auto-group-ncvy-9C9 .mdi-password-check-outline-CAR {
  width: 1.8512rem;
  height: 2.1009rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .setting-Bm7 .item--L1j {
  margin-right: 4.6045rem;
  font-size: 2.0822rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .menu-MDo .auto-group-4x7x-gms .setting-Bm7 .group-Ecu {
  margin-bottom: 0.0961rem;
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy {
  margin-top: 3.4rem;
  width: 85.5016rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K {
  margin: 0rem 0rem 10.329rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 11.6713rem;
  display: flex;
  align-items: center;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .pammoney-1XB {
  margin-right: 4.5261rem;
  box-sizing: border-box;
  padding: 4.409rem 2.958rem 4.076rem 2.074rem;
  width: 30.6739rem;
  height: 100%;
  border: solid 0.0868rem #d9d9d9;
  background-color: #f5f5f5;
  border-radius: 0.8676rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .pammoney-1XB .pammoneytext-861 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .pammoney-1XB .pammoneytext-861 .pointicon-frd {
  margin-right: 2.4659rem;
  width: 2.9378rem;
  height: 2.9394rem;
  text-align: right;
  font-size: 1.9031rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2d2d2d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-29-QLm.png');
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .pammoney-1XB .pammoneytext-861 .item--Lxm {
  margin: 0.086rem 7.238rem 0rem 0rem;
  text-align: center;
  font-size: 2.4292rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .pammoney-1XB .pammoneytext-861 .pointamount-3cH {
  margin-top: 0.0864rem;
  text-align: center;
  font-size: 2.4292rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ {
  box-sizing: border-box;
  padding: 1rem 0.102rem 0.071rem 0.1rem;
  width: 50.2016rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.0868rem #d9d9d9;
  background-color: #ffffff;
  border-radius: 0.8676rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H {
  margin: 0rem 7.354rem 0.667rem 7.489rem;
  width: calc(100% - 14.8431rem);
  height: 6.3333rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--YxM {
  margin: 0.759rem 6.861rem 0.294rem 0rem;
  height: calc(100% - 1.0533rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--YxM .item--H9F {
  margin-bottom: 0.4801rem;
  text-align: center;
  font-size: 1.7352rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--YxM .item-5-Pi5 {
  text-align: center;
  font-size: 1.9954rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .line-33-jG9 {
  margin-right: 7.5424rem;
  width: 0rem;
  height: 6.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--sdF {
  margin: 0.759rem 7.458rem 0.294rem 0rem;
  height: calc(100% - 1.0533rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--sdF .item--hsB {
  margin-bottom: 0.4801rem;
  text-align: center;
  font-size: 1.7352rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--sdF .item-3-pwo {
  text-align: center;
  font-size: 1.9954rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .line-34-kqT {
  margin-right: 6.8959rem;
  width: 0rem;
  height: 6.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--JMB {
  margin: 0.759rem 0rem 0.294rem 0rem;
  height: calc(100% - 1.0533rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--JMB .item--Rgh {
  margin-bottom: 0.4801rem;
  text-align: center;
  font-size: 1.7352rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-ush7-e6H .item--JMB .item-11-MaM {
  text-align: center;
  font-size: 1.9954rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R {
  box-sizing: border-box;
  padding: 0.848rem 0.159rem 0.59rem 1.54rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0 0 0.7808rem 0.7808rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R .group-182-oSM {
  margin: 0.144rem 5.261rem 0.317rem 0rem;
  height: calc(100% - 0.4613rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R .group-182-oSM .group-135-vms {
  margin: 0.033rem 1.77rem 0rem 0rem;
  width: 1.7281rem;
  height: 1.33rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R .group-182-oSM .item--FJM {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3014rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R .item--xTf {
  margin: 0rem 15.687rem 0.125rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0411rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #8f8f8f;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R .group--R6M {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R .group--R6M .item--ZCZ {
  margin: 0rem 0.494rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0411rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .info-69K .my-status-XGZ .auto-group-p6vz-h8R .group--R6M .group-ezh {
  width: 2.1601rem;
  height: 2.1613rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 {
  width: 23.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .auto-group-pkjy-gAh {
  box-sizing: border-box;
  padding-bottom: 1.7882rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .auto-group-pkjy-gAh .item--pGu {
  margin-bottom: 2.8rem;
  font-size: 2.443rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .auto-group-pkjy-gAh .accounticon-up9 {
  margin-right: 6.8rem;
  box-sizing: border-box;
  padding: 7.137rem 7.238rem 7.238rem 7.138rem;
  background-color: #f1f1f1;
  border-radius: 0.7431rem;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .auto-group-pkjy-gAh .accounticon-up9 .ic-round-plus-qC1 {
  width: 2.625rem;
  height: 2.625rem;
  object-fit: contain;
  vertical-align: top;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .accountregisfoot-Ys7 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .accountregisfoot-Ys7 .item--uBs {
  margin-right: 3.9896rem;
  display: flex;
  font-size: 1.4337rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #a2a2a3;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .accountregisfoot-Ys7 .item--nmT {
  margin-right: 2.1812rem;
  display: flex;
  font-size: 1.4337rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .auto-group-ru3t-dYh .auto-group-sdvf-9Uy .accountregis-8Q5 .accountregisfoot-Ys7 .mingcute-right-line-WBf {
  margin-bottom: 0rem;
  width: 1.5293rem;
  height: 1.5293rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 {
  box-sizing: border-box;
  padding: 2.5rem 0rem 3.2rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 0.9725490212);
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-wet5-vmB {
  margin: 0rem 0rem 1.3rem 16.2rem;
  width: 6.147rem;
  height: 5.05rem;
  position: relative;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-wet5-vmB .inc-FHf {
  width: 3.2rem;
  height: 1.3rem;
  position: absolute;
  left: 1.2rem;
  top: 3.75rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--Sv9 .footer-D65 .auto-group-wet5-vmB .item--Xky {
  width: 3.1rem;
  height: 3.2rem;
  position: absolute;
  left: 3.047rem;
  top: 0.6703rem;
  font-size: 2.5031rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Gmarket Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--Sv9 .footer-D65 .auto-group-wet5-vmB .image-22-dJD {
  width: 2.7183rem;
  height: 3.5344rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.mypage--Sv9 .footer-D65 .auto-group-wet5-vmB .group-147-m9X {
  width: 0.6rem;
  height: 0.7rem;
  position: absolute;
  left: 0.3rem;
  top: 4.05rem;
}
.mypage--Sv9 .footer-D65 .auto-group-wet5-vmB .group-147-m9X .c-tV3 {
  width: 0.3rem;
  height: 0.7rem;
  position: absolute;
  left: 0.15rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--Sv9 .footer-D65 .auto-group-wet5-vmB .group-147-m9X .ellipse-30-acm {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: 0;
  top: 0.08rem;
  border: solid 0.03rem #64a246;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.mypage--Sv9 .footer-D65 .auto-group-nzk9-6LD {
  margin: 0rem 19.8rem 0.65rem 16.2rem;
  width: calc(100% - 36rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-nzk9-6LD .item--RNV {
  margin-right: 89.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-nzk9-6LD .about-farmfarm-j8H {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-gvth-4RT {
  margin: 0rem 26.1rem 1.784rem 16.2rem;
  width: calc(100% - 42.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-gvth-4RT .item--BW5 {
  margin: 0rem 49.4rem 0.4rem 0rem;
  max-width: 45.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-gvth-4RT .auto-group-nsj9-eRb {
  row-gap: 0.9rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-gvth-4RT .auto-group-nsj9-eRb .item--yim {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-gvth-4RT .auto-group-nsj9-eRb .item--JFF {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .auto-group-gvth-4RT .auto-group-nsj9-eRb .item--2ww {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .line-51-YfP {
  margin: 0rem 0rem 2.416rem 0rem;
  width: calc(100% - 0rem);
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV {
  margin: 0rem 0rem 0.6rem 16.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-0 {
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-2 {
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-3 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-4 {
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-5 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-6 {
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-7 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--Sv9 .footer-D65 .c-1153-4-77-ds-sw-4-GLV .c-1153-4-77-ds-sw-4-GLV-sub-8 {
}
.mypage--Sv9 .footer-D65 .infofarmfarmkr-1661-1003-twX {
  margin-left: 16.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.mypage--Sv9 .footer-D65 .infofarmfarmkr-1661-1003-twX .infofarmfarmkr-1661-1003-twX-sub-0 {
}
.mypage--Sv9 .footer-D65 .infofarmfarmkr-1661-1003-twX .infofarmfarmkr-1661-1003-twX-sub-1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--Sv9 .footer-D65 .infofarmfarmkr-1661-1003-twX .infofarmfarmkr-1661-1003-twX-sub-2 {
}
