@charset "UTF-8";

.accountregis-RDX {
  width: 17rem;
}
.item--ykq {
  margin-bottom: 2.8rem;
  width: 100%;
  text-align: center;
  font-size: 2.443rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.auto-group-wk5s-tcu {
  box-sizing: border-box;
  padding: 1.35rem 1.4rem 0.85rem 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #f1f1f1;
  border-radius: 0.7431rem;
}
.accountinfohead-yuF {
  margin-bottom: 7.7rem;
  width: 8rem;
  flex-shrink: 0;
}
.auto-group-cf2d-vpV {
  margin: 0rem 1.9rem 0.25rem 0rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
}
.shcsymbolci-1-fXB {
  margin: 0.1rem 0.493rem 0rem 0rem;
  width: 1.7065rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.bank-C1K {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.line-56-vxu {
  width: 8rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.accountinfofoot-gx5 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.accountname-FkH {
  margin-bottom: 0.05rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.accountnum-bp9 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}