@charset "UTF-8";

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.mypage--tku {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.mypage--tku .header-14q {
  margin-bottom: 3.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 {
  box-sizing: border-box;
  padding: 3.3rem 17.4rem 2.299rem 17.4rem;
  width: 100%;
  height: 17.3rem;
  background-color: #ffffff;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf {
  width: 22.3rem;
  height: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .auto-group-fe85-an9 {
  margin: 0rem 12.3rem 1.8rem 0rem;
  width: calc(100% - 12.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .auto-group-fe85-an9 .image-22-uZX {
  margin: 0rem 0.539rem 0.5rem 0rem;
  width: 4.4608rem;
  height: 5.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .auto-group-fe85-an9 .item--pAh {
  font-size: 4.1076rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Gmarket Sans, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .auto-group-enk5-8hB {
  margin: 0rem 1.9rem 0.5rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .auto-group-enk5-8hB .item--fh7 {
  margin-right: 5rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #7a7a7a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .auto-group-enk5-8hB .item--BQZ {
  margin-right: 5.2rem;
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #7a7a7a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .auto-group-enk5-8hB .item--gcD {
  display: flex;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .header-14q .auto-group-yjkd-wz5 .group-144-qZf .line-24-cEy {
  width: 6.3rem;
  height: 0.0013rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .header-14q .rectangle-101-8z1 {
  width: 100%;
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh {
  margin: 0rem 14.998rem 4.5rem 15rem;
  width: calc(100% - 29.9984rem);
  height: 151.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD {
  margin-right: 5.1118rem;
  box-sizing: border-box;
  padding: 1.3004rem 0;
  width: 23.3882rem;
  height: 100%;
  border-right: solid 0.0882rem #d9d9d9;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 {
  width: 22.0176rem;
  height: 80.7326rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .userinfo-Teu {
  margin: 0rem 1.529rem 1.823rem 0rem;
  width: 20.4887rem;
  height: 16.0572rem;
  border-bottom: solid 0.0868rem #d9d9d9;
  box-sizing: border-box;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .userinfo-Teu .auto-group-ikht-PHf {
  box-sizing: border-box;
  padding: 0rem 7.206rem 1.993rem 7.206rem;
  width: 100%;
  height: 15.9704rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .userinfo-Teu .auto-group-ikht-PHf .auto-group-j1js-6xm {
  margin: 0rem 0.26rem 1.562rem 0.26rem;
  width: calc(100% - 0.5209rem);
  height: 2.4303rem;
  text-align: center;
  font-size: 1.5616rem;
  font-weight: 400;
  line-height: 1.2575;
  letter-spacing: 0.0468rem;
  color: #f5f5f5;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d2d2d;
  border-radius: 0.4338rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .userinfo-Teu .auto-group-ikht-PHf .vector-Ls7 {
  margin-bottom: 1.9095rem;
  width: 6.0772rem;
  height: 6.0757rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .userinfo-Teu .auto-group-ikht-PHf .item--t7w {
  margin-right: 0rem;
  text-align: center;
  font-size: 1.5616rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.0468rem;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .logout-NJ1 {
  margin: 0rem 2.31rem 6.332rem 0.781rem;
  width: calc(100% - 3.0916rem);
  height: 3.2982rem;
  position: relative;
  border-radius: 1.5616rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .logout-NJ1 .item--u33 {
  width: 3.2rem;
  height: 1.7rem;
  position: absolute;
  left: 8.5202rem;
  top: 0.868rem;
  text-align: right;
  font-size: 1.3014rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .logout-NJ1 .log-out-Z7b {
  width: 18.926rem;
  height: 3.2982rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.0868rem #d9d9d9;
  box-sizing: border-box;
  border-radius: 1.5616rem;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP {
  margin-bottom: 2.8985rem;
  width: 19.3158rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .item--ZWu {
  margin-bottom: 2.2023rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .myfunding-eHT {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .myfunding-eHT .group-zMK {
  margin-right: 1.3009rem;
  width: 2.5017rem;
  height: 2.5011rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .myfunding-eHT .item--8TX {
  margin: 0.1rem 8.009rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .myfunding-eHT .group-pr9 {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H {
  box-sizing: border-box;
  padding: 2.083rem 0rem 0rem 0.1rem;
  width: 100%;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .myauction-5n5 {
  margin: 0rem 0.013rem 2.202rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .myauction-5n5 .item--RL9 {
  margin: 0rem 1.458rem 0.041rem 0rem;
  width: 2.1441rem;
  height: 2.1435rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .myauction-5n5 .item--8VT {
  margin: 0.315rem 7.996rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .myauction-5n5 .group-EoP {
  margin-bottom: 0.0116rem;
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .cart-n4D {
  margin-bottom: 2.0982rem;
  box-sizing: border-box;
  padding-left: 0.1664rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .cart-n4D .bytesize-heart-8Ny {
  margin: 0.258rem 1.441rem 0rem 0rem;
  width: 1.9948rem;
  height: 1.7649rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .cart-n4D .item--Rss {
  margin: 0.296rem 9.609rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .cart-n4D .group-j7s {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .chat-H9P {
  box-sizing: border-box;
  padding: 0.1rem 0rem 0rem 0.313rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .chat-H9P .humbleicons-chat-chT {
  margin: 0rem 1.514rem 0.303rem 0rem;
  width: 1.8763rem;
  height: 1.6674rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .chat-H9P .item--9SV {
  margin: 0.096rem 10.709rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-activity-SBP .auto-group-gx4m-n2H .chat-H9P .group-4pM {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh {
  margin-bottom: 2.8985rem;
  width: 19.3158rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw {
  box-sizing: border-box;
  padding: 0rem 0rem 2.298rem 0.087rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .item--h6d {
  margin-bottom: 2.1022rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .chargefarmmoney-yZw {
  margin-bottom: 2.1983rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .chargefarmmoney-yZw .ph-piggy-bank-XbT {
  margin: 0rem 1.461rem 0rem 0rem;
  width: 2.3549rem;
  height: 1.8227rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .chargefarmmoney-yZw .item--3ph {
  margin: 0.096rem 6.809rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .chargefarmmoney-yZw .group-LJ1 {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .usingfarmmoney-Srq {
  margin-left: 0.0133rem;
  box-sizing: border-box;
  padding-left: 0.3039rem;
  width: calc(100% - 0.0133rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .usingfarmmoney-Srq .iconoir-web-window-energy-consumption-mu7 {
  margin: 0.026rem 1.676rem 0rem 0rem;
  width: 1.8231rem;
  height: 1.4177rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .usingfarmmoney-Srq .item--FZP {
  margin: 0.096rem 4.109rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .auto-group-9fhw-xPw .usingfarmmoney-Srq .group-Z4H {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .depositlist-6K7 {
  box-sizing: border-box;
  padding-left: 0.3127rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .depositlist-6K7 .tabler-zoom-money-qXb {
  margin: 0.097rem 1.714rem 0rem 0rem;
  width: 1.8763rem;
  height: 1.8758rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .depositlist-6K7 .item--x6R {
  margin: 0.296rem 7.909rem 0rem 0rem;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .my-farmmoney-1Uh .depositlist-6K7 .group-sDP {
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .setting-p8d {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .setting-p8d .auto-group-ppkr-BE5 {
  margin: 0rem 1.555rem 0.399rem 0rem;
  width: 2.9718rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .setting-p8d .auto-group-ppkr-BE5 .item--gwX {
  margin-bottom: 2.1022rem;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .setting-p8d .auto-group-ppkr-BE5 .mdi-password-check-outline-p29 {
  width: 1.8512rem;
  height: 2.1009rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .setting-p8d .item--kRb {
  margin-right: 4.6045rem;
  font-size: 2.0822rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .menu-aLD .auto-group-rylv-vQ5 .setting-p8d .group-g4M {
  margin-bottom: 0.0961rem;
  width: 2.6045rem;
  height: 2.6039rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd {
  margin-top: 3.4rem;
  width: 85.5016rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d {
  margin: 0rem 0rem 10.329rem 0.1rem;
  width: calc(100% - 0.1rem);
  height: 11.6713rem;
  display: flex;
  align-items: center;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .pammoney-rd3 {
  margin-right: 4.5261rem;
  box-sizing: border-box;
  padding: 4.409rem 2.958rem 4.076rem 2.074rem;
  width: 30.6739rem;
  height: 100%;
  border: solid 0.0868rem #d9d9d9;
  background-color: #f5f5f5;
  border-radius: 0.8676rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .pammoney-rd3 .pammoneytext-ZXT {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .pammoney-rd3 .pammoneytext-ZXT .pointicon-rmT {
  margin-right: 2.4659rem;
  width: 2.9378rem;
  height: 2.9394rem;
  text-align: right;
  font-size: 1.9031rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #2d2d2d;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-29-tn9.png');
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .pammoney-rd3 .pammoneytext-ZXT .item--8DB {
  margin: 0.086rem 7.238rem 0rem 0rem;
  text-align: center;
  font-size: 2.4292rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .pammoney-rd3 .pammoneytext-ZXT .pointamount-2pM {
  margin-top: 0.0864rem;
  text-align: center;
  font-size: 2.4292rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 {
  box-sizing: border-box;
  padding: 1rem 0.102rem 0.071rem 0.1rem;
  width: 50.2016rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.0868rem #d9d9d9;
  background-color: #ffffff;
  border-radius: 0.8676rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj {
  margin: 0rem 7.354rem 0.667rem 7.489rem;
  width: calc(100% - 14.8431rem);
  height: 6.3333rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--KS5 {
  margin: 0.759rem 6.861rem 0.294rem 0rem;
  height: calc(100% - 1.0533rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--KS5 .item--rB7 {
  margin-bottom: 0.4801rem;
  text-align: center;
  font-size: 1.7352rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--KS5 .item-5-BDP {
  text-align: center;
  font-size: 1.9954rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .line-33-hSd {
  margin-right: 7.5424rem;
  width: 0rem;
  height: 6.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--qoj {
  margin: 0.759rem 7.458rem 0.294rem 0rem;
  height: calc(100% - 1.0533rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--qoj .item--Ar1 {
  margin-bottom: 0.4801rem;
  text-align: center;
  font-size: 1.7352rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--qoj .item-3-JBX {
  text-align: center;
  font-size: 1.9954rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .line-34-SYd {
  margin-right: 6.8959rem;
  width: 0rem;
  height: 6.3333rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--AjX {
  margin: 0.759rem 0rem 0.294rem 0rem;
  height: calc(100% - 1.0533rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--AjX .item--6t5 {
  margin-bottom: 0.4801rem;
  text-align: center;
  font-size: 1.7352rem;
  font-weight: 300;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-w6ht-oTj .item--AjX .item-11-213 {
  text-align: center;
  font-size: 1.9954rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u {
  box-sizing: border-box;
  padding: 0.848rem 0.159rem 0.59rem 1.54rem;
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 0 0 0.7808rem 0.7808rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u .group-182-5k1 {
  margin: 0.144rem 5.261rem 0.317rem 0rem;
  height: calc(100% - 0.4613rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u .group-182-5k1 .group-135-29T {
  margin: 0.033rem 1.77rem 0rem 0rem;
  width: 1.728rem;
  height: 1.33rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u .group-182-5k1 .item--9js {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3014rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #3a3a3a;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u .item--GJh {
  margin: 0rem 15.687rem 0.125rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0411rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #8f8f8f;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u .group--Y1K {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u .group--Y1K .item--gNR {
  margin: 0rem 0.494rem 0rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.0411rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .info-j2d .my-status-ut9 .auto-group-yiyj-N4u .group--Y1K .group-ysK {
  width: 2.1601rem;
  height: 2.1613rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX {
  width: 17rem;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .item--ykq {
  margin-bottom: 2.8rem;
  width: 100%;
  text-align: center;
  font-size: 2.443rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu {
  box-sizing: border-box;
  padding: 1.35rem 1.4rem 0.85rem 1.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #f1f1f1;
  border-radius: 0.7431rem;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfohead-yuF {
  margin-bottom: 7.7rem;
  width: 8rem;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfohead-yuF .auto-group-cf2d-vpV {
  margin: 0rem 1.9rem 0.25rem 0rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfohead-yuF .auto-group-cf2d-vpV .shcsymbolci-1-fXB {
  margin: 0.1rem 0.493rem 0rem 0rem;
  width: 1.7065rem;
  height: 1.7rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfohead-yuF .auto-group-cf2d-vpV .bank-C1K {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfohead-yuF .line-56-vxu {
  width: 8rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfofoot-gx5 {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfofoot-gx5 .accountname-FkH {
  margin-bottom: 0.05rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .auto-group-fh7b-sgh .auto-group-grzp-aQd .accountregis-RDX .auto-group-wk5s-tcu .accountinfofoot-gx5 .accountnum-bp9 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB {
  box-sizing: border-box;
  padding: 2.5rem 0rem 3.2rem 0rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(248, 248, 248, 0.9725490212);
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-gs7f-yZo {
  margin: 0rem 0rem 1.3rem 16.2rem;
  width: 6.147rem;
  height: 5.05rem;
  position: relative;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-gs7f-yZo .inc-68d {
  width: 3.2rem;
  height: 1.3rem;
  position: absolute;
  left: 1.2rem;
  top: 3.75rem;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--tku .footer-HBB .auto-group-gs7f-yZo .item--jxH {
  width: 3.1rem;
  height: 3.2rem;
  position: absolute;
  left: 3.047rem;
  top: 0.6703rem;
  font-size: 2.5031rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #2d2d2d;
  font-family: Gmarket Sans, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--tku .footer-HBB .auto-group-gs7f-yZo .image-22-dGy {
  width: 2.7183rem;
  height: 3.5344rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.mypage--tku .footer-HBB .auto-group-gs7f-yZo .group-147-aCD {
  width: 0.6rem;
  height: 0.7rem;
  position: absolute;
  left: 0.3rem;
  top: 4.05rem;
}
.mypage--tku .footer-HBB .auto-group-gs7f-yZo .group-147-aCD .c-tTo {
  width: 0.3rem;
  height: 0.7rem;
  position: absolute;
  left: 0.15rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
}
.mypage--tku .footer-HBB .auto-group-gs7f-yZo .group-147-aCD .ellipse-30-zmj {
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  left: 0;
  top: 0.08rem;
  border: solid 0.03rem #64a246;
  box-sizing: border-box;
  border-radius: 0.3rem;
}
.mypage--tku .footer-HBB .auto-group-aepd-Wk5 {
  margin: 0rem 19.8rem 0.65rem 16.2rem;
  width: calc(100% - 36rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-aepd-Wk5 .item--eLV {
  margin-right: 89.1rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-aepd-Wk5 .about-farmfarm-xMB {
  display: flex;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #64a246;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-jnqd-6CV {
  margin: 0rem 26.1rem 1.784rem 16.2rem;
  width: calc(100% - 42.3rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-jnqd-6CV .item--dCR {
  margin: 0rem 49.4rem 0.4rem 0rem;
  max-width: 45.5rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-jnqd-6CV .auto-group-x77k-VXT {
  row-gap: 0.9rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-jnqd-6CV .auto-group-x77k-VXT .item--33B {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-jnqd-6CV .auto-group-x77k-VXT .item--9c1 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .auto-group-jnqd-6CV .auto-group-x77k-VXT .item--VA5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #868686;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .line-51-oRf {
  margin: 0rem 0rem 2.416rem 0rem;
  width: calc(100% - 0rem);
  height: 0.1rem;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK {
  margin: 0rem 0rem 0.6rem 16.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-0 {
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-2 {
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-3 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-4 {
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-5 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-6 {
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-7 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--tku .footer-HBB .c-1153-4-77-ds-sw-4-jKK .c-1153-4-77-ds-sw-4-jKK-sub-8 {
}
.mypage--tku .footer-HBB .infofarmfarmkr-1661-1003-JBP {
  margin-left: 16.2rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #686868;
  font-family: Pretendard, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.mypage--tku .footer-HBB .infofarmfarmkr-1661-1003-JBP .infofarmfarmkr-1661-1003-JBP-sub-0 {
}
.mypage--tku .footer-HBB .infofarmfarmkr-1661-1003-JBP .infofarmfarmkr-1661-1003-JBP-sub-1 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #d9d9d9;
  font-family: Pretendard, 'Source Sans Pro';
}
.mypage--tku .footer-HBB .infofarmfarmkr-1661-1003-JBP .infofarmfarmkr-1661-1003-JBP-sub-2 {
}
